<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/metronic-template}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet" th:if="${user != null}">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Chi tiết người dùng
                    </h3>
                </div>
            </div>
            <!--begin::Form-->
            <form class="kt-form" th:action="@{'/admin/user/update/' + ${user.userId}}" th:object="${user}" method="POST">
                <div class="kt-portlet__body">
                    <div class="kt-section kt-section--first">
                        <div class="form-group">
                            <label>Tên đăng nhập:</label>
                            <span class="form-text" th:text="${user.userName}"></span>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3 col-sm-12">Danh sách quyền:</label>
                            <div class=" col-lg-4 col-md-9 col-sm-12">
                                <select class="form-control kt-select2" id="cbbRoles" name="roles" multiple="multiple">
                                    <option th:if="${userRoleNames != null}" th:each="r : ${allRoles}" th:value="${r.roleId}" th:text="${r.roleName}"  th:attrappend="selected=${#arrays.contains(userRoleNames, r.roleName)} ? 'selected' : ''"></option>
                                    <option th:if="${userRoleNames == null}" th:each="r : ${allRoles}" th:value="${r.roleId}" th:text="${r.roleName}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3 col-sm-12">Email:</label>
                            <div class=" col-lg-4 col-md-9 col-sm-12">
                                <input type="text" class="form-control" name="email" placeholder="Email" th:field="*{email}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-lg-3 col-sm-12">Khôi phục mật khẩu:<span class="form-text text-muted">Mật khẩu sẽ được gửi vào email: <span th:text="${user.email}"></span></span></label>
                            <div class="col-lg-9 col-md-9 col-sm-12" th:if="${user.email != null && user.email != ''}">
                                <button type="button" class="btn btn-primary" onclick="resetPwd(); return false;">Reset</button>
                                <span class="form-text text-muted d-none" id="resetPwdMsg">Mật khẩu đã được gửi vào email: <span th:text="${user.email}"></span>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12" th:if="${user.email == '' || user.email == null}">
                                <label class="col-form-label col-lg-9 col-sm-12">Vui lòng thiết lập email cho tài khoản này để nhận mật khẩu.</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                        <button type="reset" class="btn btn-secondary">Hủy bỏ</button>
                    </div>
                </div>
            </form>

            <!--end::Form-->
        </div>
    <script>
        $(document).ready(function() {
            $('#cbbRoles').select2({
                placeholder: "Chọn quyền",
            });
        });


    </script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        function resetPwd() {
            $.ajax({
                type: "POST",
                url: [[@{'/admin/user/resetpwd/' + ${user.userId}}]],
                data: null,
                success: function(data) {
                    $("#resetPwdMsg").removeClass("d-none");
                }
            });
        }


        var message = /*[[${message}]]*/ 'default';
        console.log(message);

        /*]]>*/
    </script>
</div>
</body>
</html>