<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/metronic-template}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet" th:if="${user != null}">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Thêm mới người dùng
                    </h3>
                </div>
            </div>
            <!--begin::Form-->
            <form class="kt-form" th:action="@{'/admin/user/save'}" th:object="${user}" method="POST">
                <div class="kt-portlet__body">
                    <div class="kt-section kt-section--first">
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-12">Tên đăng nhập:</label>
                        <div class="col-lg-4 col-md-9 col-sm-12">
                            <input type="text" class="form-control" name="userName" placeholder="Tên đăng nhập" th:field="*{userName}">
                            <div class="invalid-field" th:if="${#fields.hasErrors('userName')}">Tên đăng nhập không hợp lệ</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-12">Danh sách quyền:</label>
                        <div class=" col-lg-4 col-md-9 col-sm-12">
                            <select class="form-control kt-select2" id="cbbRoles" name="uroles" multiple="multiple">
                                <option th:each="r : ${allRoles}" th:value="${r.roleId}" th:text="${r.roleName}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-12">Email:</label>
                        <div class=" col-lg-4 col-md-9 col-sm-12">
                            <input type="text" class="form-control" name="email" placeholder="Email" th:field="*{email}">
                        </div>
                    </div>
                </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a  class="btn btn-secondary" th:href="@{'/admin/user/list'} ">Cancel</a>

                    </div>
                </div>
            </form>

            <!--end::Form-->
        </div>
    <script>
        $(document).ready(function() {
            $('#cbbRoles').select2({
                placeholder: "Chọn quyền",
            });
        });


    </script>
</div>
</body>
</html>