<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/metronic-template}">
<body>
<div layout:fragment="subheader">
    <th:block th:include="/admin/user/user-list-subheader"></th:block>
</div>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
										<span class="kt-portlet__head-icon">
											<i class="kt-font-brand flaticon2-line-chart"></i>
										</span>
            <h3 class="kt-portlet__head-title">
                Danh sách người dùng
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="dropdown dropdown-inline">
                    <a th:href="@{/admin/user/new}" class="btn btn-brand btn-icon-sm"><i class="flaticon2-plus"></i> Thêm mới</a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body kt-portlet__body--fit">

        <!--begin: Datatable -->
        <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded" id="local_data"
             style="">
            <table class="kt-datatable__table" style="display: block; min-height: 500px;">
                <thead class="kt-datatable__head">
                <tr class="kt-datatable__row" style="left: 0px;">
                    <th data-field="RecordID"
                        class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"><span
                            style="width: 20px;"><label
                            class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid"><input
                            type="checkbox">&nbsp;<span></span></label></span></th>
                    <th data-field="OrderID" class="kt-datatable__cell kt-datatable__cell--sort"><span
                            style="width: 119px;">User ID</span></th>
                    <th data-field="Country" class="kt-datatable__cell kt-datatable__cell--sort"><span
                            style="width: 119px;">User Name</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="kt-datatable__body" style="">
                <tr data-row="0" class="kt-datatable__row" style="left: 0px;" th:each="u : ${page.content}">
                    <td class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                        data-field="RecordID"><span style="width: 20px;"><label
                            class="kt-checkbox kt-checkbox--single kt-checkbox--solid"><input type="checkbox" value="1">&nbsp;<span></span></label></span>
                    </td>
                    <td data-field="userId" class="kt-datatable__cell"><span style="width: 119px;"
                                                                             th:text="${u.userId}">ID</span>
                    </td>
                    <td data-field="userName" class="kt-datatable__cell"><span style="width: 119px;"
                                                                               th:text="${u.userName}">Name</span></td>
                    <td>
                        <a th:href="@{'/admin/user/detail/'+${u.userId}}" title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md"> <i
                                class="la la-eye"></i> </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="kt-datatable__pager kt-datatable--paging-loaded">
                <ul class="kt-datatable__pager-nav">
                    <li th:if="${page.totalPages > 0}">
                        <a title="First" th:href="@{/admin/user/list(page=0,size=${page.size})}"
                           class="kt-datatable__pager-link kt-datatable__pager-link--first kt-datatable__pager-link">
                            <i class="flaticon2-fast-back"></i>
                        </a>
                    </li>
                    <li th:if="${page.hasPrevious()}">
                        <a title="Previous" th:href="@{/admin/user/list(page=${page.number-1},size=${page.size})}"
                           class="kt-datatable__pager-link kt-datatable__pager-link--prev kt-datatable__pager-link"><i
                                class="flaticon2-back"></i>
                        </a>
                    </li>
                    <li style=""></li>
                    <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                                      title="Page number"></li>
                    <li th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                        <a th:if="${page.number == i}"
                           class="kt-datatable__pager-link kt-datatable__pager-link-number kt-datatable__pager-link--active">
                            [[${i}+1]]
                        </a>
                        <a th:unless="${page.number == i}" th:href="@{/admin/user/list(page=${i},size=${page.size})}"
                           class="kt-datatable__pager-link kt-datatable__pager-link-number">
                            [[${i}+1]]
                        </a>
                    </li>
                    <li></li>
                    <li th:if="${page.hasNext()}">
                        <a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next"
                           th:href="@{/admin/user/list(page=${page.number+1},size=${page.size})}"><i
                                class="flaticon2-next"></i>
                        </a>
                    </li>
                    <li th:if="${page.totalPages > 0}">
                        <a title="Last" class="kt-datatable__pager-link kt-datatable__pager-link--last"
                           th:href="@{/admin/user/list(page=${page.totalPages - 1},size=${page.size})}"><i
                                class="flaticon2-fast-next"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--end: Datatable -->
</div>
</body>
</html>