<!--Ninh Trang An-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/metronic-template}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet" th:if="${contract != null}">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Chi tiết hợp đồng
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form class="kt-form"  th:action="@{'/admin/contract/upate'}" th:object="${contract.id}" method="post" enctype="multipart/form-data">
            <div class="kt-portlet__body">
                <div class="kt-portlet__body">
                    <h3 class="kt-section__title">Thông tin chung</h3>
                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                    <div class="form-group row" >
                        <div class="col-lg-3">
                            <label>Mã hợp đồng:</label>
                            <span class="form-text" th:text="${contract.code}"></span>
                        </div>
                        <div class="col-lg-3">
                            <label>Tên hợp đồng:</label>
                            <span class="form-text" th:text="${contract.name}"></span>
                        </div>
                        <div class="col-lg-3">
                            <label>Mã hồ sơ:</label>
                            <span class="form-text" th:text="${biddoc.code}"></span>
                        </div>
                        <div class="col-lg-3">
                            <label>Tên hồ sơ:</label>
                            <span class="form-text" th:text="${biddoc.name}"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label>Số tiền hợp đồng:</label>
                            <span class="form-text" th:text="${#numbers.formatDecimal(contract.money, 0, 'COMMA', 0, 'POINT')}+ ' VNĐ'"></span>
                        </div>
                        <div class="col-lg-3">
                            <label>Ngày bắt đầu:</label>
                            <span class="form-text" th:text="${#temporals.format(contract.start,'dd/MM/yyyy')}"></span>
                        </div>
                        <div class="col-lg-3">
                            <label>Ngày kết thúc:</label>
                            <span class="form-text" th:text="${#temporals.format(contract.end,'dd/MM/yyyy')}"></span>
                        </div>
                        <div class="col-lg-3">
                            <label>Số đợt thanh toán:</label>
                            <span class="form-text" th:text="${contract.number}"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <a  class="btn btn-secondary" th:href="@{'/admin/contract/list'}">Cancel</a>
                </div>
            </div>
        </form>

        <!--end::Form-->
    </div>

    <!--end::Form-->
</div>

</div>
</body>
</html>
