<!--Ninh Trang An-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/metronic-template}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Chi tiết hợp đồng
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form class="kt-form"  th:action="@{/admin/contract/update}" th:object="${contract}" method="post" enctype="multipart/form-data">
            <div class="kt-portlet__body">
                <div class="kt-portlet__body">
                    <h3 class="kt-section__title">Thông tin chung</h3>
                    <input type="hidden" th:field="*{id}" name="id"/>
                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label>Mã hợp đồng:</label>
                            <span class="obligatory">*</span>
                            <input type="text" class="form-control" id="code"  name="code" placeholder="Mã khách hàng" th:field="*{code}">
                            <div class="invalid-field" th:if="${#fields.hasErrors('code')}">Mã hợp đồng không hợp lệ</div>
                            <span class="invalid-field" th:text="${errorCode}"></span>
                            <span class="form-text text-muted">Vui lòng nhập mã hợp đồng</span>
                        </div>
                        <div class="col-lg-3">
                            <label>Tên hợp đồng:</label>
                            <span class="obligatory">*</span>
                            <input type="text" class="form-control" name=""  placeholder="Tên hợp đồng" th:field="*{name}">
                            <div class="invalid-field" th:if="${#fields.hasErrors('name')}">Tên hợp đồng không hợp lệ</div>
                            <span class="form-text text-muted">Vui lòng nhập tên hợp đồng</span>
                        </div>
                        <div class="col-lg-3">
                            <label>Mã hồ sơ:</label>
                            <span class="obligatory">*</span>
                            <select class="form-control" th:field="*{biddingDocumentsId}">
                                <option value="">----Chọn mã----</option>
                                <option th:each="c : ${listBiddoc}" th:value="${c.id}" th:text="${c.code}+' - '+${c.name}"></option>
                            </select>
                            <div class="invalid-field" th:if="${#fields.hasErrors('biddingDocumentsId')}">Mã hồ sơ không hợp lệ</div>
                            <span class="form-text text-muted">Vui lòng chọn mã hồ sơ</span>
                        </div>
                        <div class="col-lg-3">
                            <label>Số tiền: </label>
                            <span class="obligatory">*</span>
                            <input type="number" min="1" class="form-control" name="money"  placeholder="Số tiền" th:field="*{money}">
                            <div class="invalid-field" th:if="${#fields.hasErrors('money')}">Số tiền không hợp lệ</div>
                            <span class="form-text text-muted">Nhập số tiền hợp đồng</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3 ">
                            <label>Ngày bắt đầu:</label>
                            <span class="obligatory">*</span>
                            <input type="date" class="form-control" th:field="*{start}">
                            <div class="invalid-field" th:if="${#fields.hasErrors('start')}">Ngày bắt đầu không hợp lệ</div>
                            <span class="form-text text-muted">Vui lòng nhập ngày bắt đầu</span>
                        </div>
                        <div class="col-lg-3">
                            <label>Ngày kết thúc:</label>
                            <span class="obligatory">*</span>
                            <input type="date" class="form-control" th:field="*{end}">
                            <div class="invalid-field" th:if="${#fields.hasErrors('end')}">Ngày kết thúc không hợp lệ</div>
                            <span class="form-text text-muted">Vui lòng nhập ngày kết thúc</span>
                        </div>
                        <div class="col-lg-2">
                            <label>Số đợt thanh toán: </label>
                            <span class="obligatory">*</span>
                            <input type="number" min="1" class="form-control" name="money"  placeholder="Số đợt" th:field="*{number}">
                            <div class="invalid-field" th:if="${#fields.hasErrors('number')}">Số tiền không hợp lệ</div>
                            <span class="form-text text-muted">Nhập số đợt thanh toán</span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a  class="btn btn-secondary" th:href="@{'/admin/contract/list'}">Cancel</a>
                </div>
            </div>
        </form>

        <!--end::Form-->
    </div>

    <!--end::Form-->
</div>

</div>
</body>
</html>
