<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/metronic-template}">
<body>
<div layout:fragment="subheader">
    <th:block th:include="/admin/hrm/employee-list-subheader"></th:block>
</div>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__body kt-portlet__body--fit">
        <p style="color: #20c997; padding: 10px 0px 0px 30px;">Đã thêm:  <span th:text="${success}"></span> </p><br/>
        <p style="color: red; padding: 10px 0px 30vh 30px;">Thất bại:  <span th:text="${failed}"></span></p><br/>
        <a class="btn btn-label-success btn-bold text-decoration-none"
           style="width: 100px; margin-left: 70vh;"   th:href="@{${url}}"> Quay lại
        </a>


    </div>
</div>
</body>