<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/metronic-template}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Đổi mật khẩu
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="kt-portlet__body">
                <div class="form-group row">
                    <span th:if="${message == 'OK'}" th:text="'Thực hiện thành công!'"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>