<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer" th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="kt-footer__copyright">
        2019&nbsp;&copy;&nbsp;<a href="http://itsol.vn" target="_blank" class="kt-link">ITSOL., JSC</a>
    </div>
    <div class="kt-footer__menu">
        <a href="javascript:alert('Developed by cuonglv@itsol.vn');" target="_blank" class="kt-footer__menu-link kt-link">Giới thiệu</a>
        <a href="mailto:cuonglv@itsol.vn" target="_blank" class="kt-footer__menu-link kt-link">Liên hệ</a>
        <a href="tel:0975888820" target="_blank" class="kt-footer__menu-link kt-link">Hỗ trợ</a>
    </div>
</div>