<!--Ninh Trang An-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/metronic-template}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet" th:if="${candidate != null}">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title text-info">
                    Chi tiết ứng viên
                </h3>
            </div>
        </div>
    </div>

    <form class="kt-form" th:action="@{'/admin/hrm/acandidate/update/' + ${candidate.id}}" method="post" enctype="multipart/form-data">
        <div class="kt-portlet__body">
            <div class="kt-portlet__body">
                <h3 class="kt-section__title text-success">1. Thông tin chung</h3>
                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                <div class="form-group row  ">
                    <div class="col-lg-3 ml-auto" >
                        <label>Mã ứng viên:</label>
                        <span class="form-text" th:text="${candidate.code}"></span>
                    </div>

                    <div class="col-lg-3">
                        <label>Họ và tên:</label>
                        <span class="form-text" th:text="${candidate.fullname}"></span>
                    </div>
                    <div class="col-lg-3" >
                        <label>Email:</label>
                        <span class="form-text" th:text="${candidate.email}"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="ml-5">
                        <label for="files"><a class="h-50 w-75 btn btn-label-success btn-bold rounded btn-link ">Chọn ảnh ứng viên</a></label>
                        <input id="files" type="file" name="file" accept=".jpg,png" hidden="true" onchange="form.submit()"/>
                    </div>
                    <div class="col-lg-3 ml-auto">
                        <label class="">Ngày sinh:</label>
                        <span class="form-text" th:text=" ${#temporals.format(candidate.dob,'dd/MM/yyyy')}"></span>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="form-control-label">Thường trú: Tỉnh/thành</label>
                            <span class="form-text" th:text="${province}"></span>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="form-control-label">Quận/huyện</label>
                            <span class="form-text" th:text="${district}"></span>

                            <span class="form-text"></span>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="tboxApp.hrmEmployee.permTown">Phường/xã</label>
                            <span class="form-text" th:text="${ward}"></span>
                            <span class="form-text" ></span>
                        </div>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-lg-3 ml-auto">
                        <label class="">Số điện thoại:</label>
                        <span class="form-text" th:text="${candidate.phone}"></span>
                    </div>
                    <div class="col-lg-3" >
                        <label>Giới tính:</label>
                        <span class="form-text"  th:text="${candidate.gender}=='M' ? 'Nam' : 'Nữ'" ></span>
                    </div>
                    <div class="col-lg-3">
                        <label>Kỹ năng công việc:</label>
                        <div th:each="s: ${candidate.getSkills()}">
                            <span class="float-left" th:text=" ${s.getName()} + ' ,'"></span>
                        </div>
                    </div>

                </div>


                <div class="kt-portlet kt-portlet--mobile">
                    <h4 class="kt-section__title text-success">2. Kinh nghiệm làm việc<span onclick="myFunction()"  class="float-right la la-angle-down text-success "></span></h4>
                    <div id="test" th:each="c: ${candidate.getExperiences()}">
                        <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                        <div class="form-group row ml-5">
                            <div class="col-lg-5 ">
                                <label>Tên công ty/Tổ chức:</label>
                                <span class="form-text" th:text="${c.getCompany()}"></span>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <label class="form-control-label">Vị trí:</label>
                                    <span class="form-text" th:text="${c.getLevel().getName()}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row ml-5">
                            <div class="col-lg-5 ">
                                <label>Thời gian từ ngày:</label>
                                <span class="form-text" th:text=" ${#temporals.format(c.getStart(),'dd/MM/yyyy')}"></span>
                            </div>
                            <div class="col-lg-5">
                                <label>Đến ngày:</label>
                                <span class="form-text" th:text=" ${#temporals.format(c.getEnd(),'dd/MM/yyyy')}"></span>

                            </div>
                        </div>
                        <div class="form-group row ml-5">
                            <div class="col-lg-10 ">
                                <label>Mô tả công việc:</label>
                                <textarea class="form-control" rows="5" placeholder="Mô tả công việc" name="description" th:text="${c.getDescription()}" disabled="" ></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="kt-portlet kt-portlet--mobile">
                    <h4 class="kt-section__title text-success">3. Dự án từng tham gia<span onclick="myFunction2()"  class="float-right la la-angle-down text-success "></span></h4>
                    <div id="test2" th:each="c: ${candidate.getProjects()}">
                        <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                        <div class="form-group row ml-5">
                            <div class="col-lg-5 ">
                                <label>Tên dự án:</label>
                                <span class="form-text" th:text="${c.getName()}"></span>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <label class="form-control-label">Vị trí:</label>
                                    <span class="form-text" th:text="${c.getLevel().getName()}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row ml-5">
                            <div class="col-lg-5 ">
                                <label>Thời gian từ ngày:</label>
                                <span class="obligatory">*</span>
                                <input style="float: left" type="date" class="form-control"  name="">
                                <span class="form-text text-muted">Vui lòng nhập thời gian bắt đầu</span>
                            </div>
                            <div class="col-lg-5">
                                <label>Đến ngày:</label>
                                <span class="obligatory">*</span>
                                <input type="date" class="form-control" id=""  name="" >
                                <span class="form-text text-muted">Vui lòng nhập ngày kết thúc</span>
                            </div>
                        </div>
                        <div class="form-group row ml-5">
                            <div class="col-lg-5 ">
                                <label>Quy mô:</label>
                                <span class="form-text" th:text="${c.getMember()} + ' thành viên '" ></span>
                            </div>
                            <div class="col-lg-5 ">
                                <label>Công nghệ:</label>
                                <span class="form-text" th:text="${c.getTechnology()}"></span>
                            </div>
                        </div>
                        <div class="form-group row ml-5">
                            <div class="col-lg-10 ">
                                <label>Mô tả công việc:</label>
                                <span class="obligatory">*</span>
                                <textarea class="form-control" rows="5" placeholder="Mô tả công việc" name="descriptionPrọect" th:text="${c.getDescription()}" disabled=""></textarea>
                            </div>

                        </div>
                    </div>

                </div>
<!--                <div class="kt-portlet kt-portlet&#45;&#45;mobile">-->
<!--                    <h4 class="kt-section__title text-success">4. Trình độ & Bằng cấp<span onclick="myFunction1()" class="float-right la la-angle-down text-success "></span></h4>-->
<!--                    <div id="test1">-->
<!--                        <div class="kt-separator kt-separator&#45;&#45;border-dashed kt-separator&#45;&#45;space-lg kt-separator&#45;&#45;portlet-fit"></div>-->
<!--                        <div class="form-group row ml-5">-->
<!--                            <div class="col-lg-5">-->
<!--                                <label>Tên bằng cấp/Chứng chỉ:</label>-->
<!--                                <span class="obligatory">*</span>-->
<!--                                <input style="float: left" type="text" class="form-control" id=""-->
<!--                                       name="" placeholder="Ví dụ: Kỹ sư CNTT, Cử nhân kinh tế, Tốt nghiệp THPT, ...">-->
<!--                                &lt;!&ndash;                        <div class="invalid-field" th:if="${#fields.hasErrors('code')}">Mã danh mục không hợp lệ</div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                        <span class="invalid-field" th:text="${pp}"></span>&ndash;&gt;-->
<!--                                <span class="form-text text-muted">Vui lòng nhập tên bằng cấp/chứng chỉ</span>-->
<!--                            </div>-->
<!--                            <div class="col-lg-5">-->
<!--                                <label>Trường/Đơn vị đào tạo:</label>-->
<!--                                <span class="obligatory">*</span>-->
<!--                                <input type="text" class="form-control" id=""  name="" placeholder="Trường/đơn vị đào tạo">-->
<!--                                &lt;!&ndash;                        <div class="invalid-field" th:if="${#fields.hasErrors('code')}">Mã danh mục không hợp lệ</div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                        <span class="invalid-field" th:text="${pp}"></span>&ndash;&gt;-->
<!--                                <span class="form-text text-muted">Vui lòng nhập tên trường/đơn vị đào tạo</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group row ml-5">-->
<!--                            <div class="col-lg-5 ">-->
<!--                                <label>Thời gian từ ngày:</label>-->
<!--                                <span class="obligatory">*</span>-->
<!--                                <input style="float: left" type="date" class="form-control" id="compny"  name="">-->
<!--                                &lt;!&ndash;                        <div class="invalid-field" th:if="${#fields.hasErrors('code')}">Mã danh mục không hợp lệ</div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                        <span class="invalid-field" th:text="${pp}"></span>&ndash;&gt;-->
<!--                                <span class="form-text text-muted">Vui lòng nhập thời gian bắt đầu</span>-->
<!--                            </div>-->
<!--                            <div class="col-lg-5">-->
<!--                                <label>Đến ngày:</label>-->
<!--                                <span class="obligatory">*</span>-->
<!--                                <input type="date" class="form-control" id=""  name="" >-->
<!--                                &lt;!&ndash;                        <div class="invalid-field" th:if="${#fields.hasErrors('code')}">Mã danh mục không hợp lệ</div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                        <span class="invalid-field" th:text="${pp}"></span>&ndash;&gt;-->
<!--                                <span class="form-text text-muted">Vui lòng nhập ngày kết thúc</span>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="form-group row ml-5">-->
<!--                            <div class="col-lg-5">-->
<!--                                <label>Chuyên ngành:</label>-->
<!--                                <span class="obligatory">*</span>-->
<!--                                <input type="text" class="form-control" id=""  name="" placeholder="Chuyên ngành">-->
<!--                                &lt;!&ndash;                        <div class="invalid-field" th:if="${#fields.hasErrors('code')}">Mã danh mục không hợp lệ</div>&ndash;&gt;-->
<!--                                &lt;!&ndash;                        <span class="invalid-field" th:text="${pp}"></span>&ndash;&gt;-->
<!--                                <span class="form-text text-muted">Vui lòng nhập chuyên ngành</span>-->
<!--                            </div>-->
<!--                            <div class="col-lg-2">-->
<!--                                <label>Xếp loại tốt nghiệp:</label>-->
<!--                                <select class="form-control">-->
<!--                                    <option th:value="'Chọn xếp loại'" th:text="'-&#45;&#45;Chọn xếp loại-&#45;&#45;'"></option>-->
<!--                                    <option th:value="'Xuất sắc'" th:text="'Xuất sắc'"></option>-->
<!--                                    <option th:value="'Giỏi'" th:text="'Giỏi'"></option>-->
<!--                                    <option th:value="'Khá'" th:text="'Khá'"></option>-->
<!--                                    <option th:value="'Trung bình khá'" th:text="'Trung bình khá'"></option>-->
<!--                                    <option th:value="'Trung bình'" th:text="'Trung bình'"></option>-->
<!--                                </select>-->
<!--                                <span class="form-text text-muted">Vui lòng chọn xếp loại</span>-->
<!--                            </div>-->

<!--                            <div class="col-lg-3">-->
<!--                                <label>Ngoại ngữ (nếu có):</label>-->
<!--                                <select class="form-control">-->
<!--                                    <option th:value="'Chọn ngoại ngữ'" th:text="'-&#45;&#45;Chọn ngoại ngữ-&#45;&#45;'"></option>-->
<!--                                    <option th:value="'Tiếng Anh'" th:text="'Tiếng Anh'"></option>-->
<!--                                    <option th:value="'Tiếng Nhật'" th:text="'Tiếng Nhật'"></option>-->
<!--                                    <option th:value="'Tiếng Hàn'" th:text="'Tiếng Hàn'"></option>-->
<!--                                    <option th:value="'Ngôn ngữ khác'" th:text="'Ngôn ngữ khác'"></option>-->
<!--                                </select>-->
<!--                                <span class="form-text text-muted">Vui lòng chọn ngoại ngữ</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>

        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <a  class="btn btn-secondary" th:href="@{'/admin/hrm/candidate/list'}">Cancel</a>

            </div>
        </div>
    </form>
    <!--end::Form-->
    <script>
        function myFunction() {
            var x = document.getElementById("test");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
    <script>
        function myFunction1() {
            var x = document.getElementById("test1");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
    <script>
        function myFunction2() {
            var x = document.getElementById("test2");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

    <script>
        $(document).ready(function() {
            $('#cbbRoles').select2({
                placeholder: "Chọn kỹ năng",
            });
        });
    </script>

    <script th:inline="javascript">
        function loadDistrictByProvince(provinceId) {
            $.get([[@{'/common/district/list/'}]] + provinceId, function (data) {
                emptyCombo($("#field_permDistrict"));

                //console.log(jQuery.parseJSON(data));

                data.forEach(function(item, i) {
                    var option = "<option value = " + item.id + ">" + item.name +  "</option>";
                    $("#field_permDistrict").append(option);
                });
            });
        }

        function loadWardByProvince(districtId) {
            $.get([[@{'/common/ward/list/'}]] + districtId, function (data) {
                emptyCombo($("#field_permTown"));

                data.forEach(function(item, i) {
                    var option = "<option value = " + item.id + ">" + item.name +  "</option>";
                    $("#field_permTown").append(option);
                });
            });
        }
    </script>
</div>
</body>
</html>
