<!--Ninh Trang An-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/metronic-template}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title text-info">
                    Chi tiết ứng viên
                </h3>
            </div>
        </div>
    </div>

    <form class="kt-form" th:action="@{/admin/hrm/candidate/save}" th:object="${candidate}" method="post"
          enctype="multipart/form-data">
        <div class="kt-portlet__body">
            <div class="kt-portlet__body">
                <h4 class="kt-section__title text-success">1. Thông tin chung</h4>
                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                <div class="form-group row ">
                    <div class="col-lg-3 ml-auto">
                        <label>Mã ứng viên:</label>
                        <div class="kt-input-icon">
                            <input type="text" class="form-control" name="code" placeholder="Mã ứng viên"
                                   th:field="*{code}">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i
                                    class="la la-unlock"></i></span></span>
                        </div>
                        <div class="invalid-field" th:if="${#fields.hasErrors('code')}">Mã ứng viên không hợp lệ</div>
                        <span class="invalid-field" th:text="${errorCode}"></span>
                        <span class="form-text text-muted">Vui lòng nhập mã ứng viên</span>
                    </div>
                    <div class="col-lg-3 ">
                        <label>Họ và tên:</label>
                        <div class="kt-input-icon">
                            <input type="text" class="form-control" name="fullname" placeholder="Họ và tên"
                                   th:field="*{fullname}">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i
                                    class="la la-user-secret"></i></span></span>
                        </div>
                        <div class="invalid-field" th:if="${#fields.hasErrors('fullname')}">Họ và tên không hợp lệ</div>
                        <span class="form-text text-muted">Vui lòng nhập đầy đủ họ và tên</span>

                    </div>
                    <div class="col-lg-3">
                        <label>Email:</label>
                        <div class="kt-input-icon">
                            <input type="text" class="form-control" name="email" placeholder="Email"
                                   th:field="*{email}">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i
                                    class="la la-envelope"></i></span></span>
                        </div>
                        <div class="invalid-field" th:if="${#fields.hasErrors('email')}">Email không hợp lệ</div>
                        <span class="invalid-field" th:text="${errorEmail}"></span>
                        <span class="form-text text-muted">Vui lòng nhập email</span>

                    </div>
                </div>
                <div class="form-group row">
                    <div class="ml-5">
                        <label for="files"><a class="h-50 w-75 btn btn-label-success btn-bold rounded btn-link ">Chọn
                            ảnh ứng viên</a></label>
                        <input id="files" type="file" name="file" accept=".jpg,png" hidden="true"
                               onchange="form.submit()"/>
                    </div>
                    <div class="col-lg-3 ml-auto">
                        <label class="">Ngày sinh:</label>
                        <div class="kt-input-icon">
                            <input type="date" class="form-control" placeholder="Ngày sinh" th:field="*{dob}">
                        </div>
                        <div class="invalid-field" th:if="${#fields.hasErrors('dob')}">Ngày sinh không hợp lệ</div>
                        <span class="form-text text-muted">Vui lòng nhập ngày sinh</span>
                    </div>


                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="form-control-label" for="field_permProvince">Thường trú: Tỉnh/thành</label>
                            <select class="form-control" onchange="loadDistrictByProvince(this.value)"
                                    id="field_permProvince" name="permProvince" formControlName="permProvinceId"
                                    th:field="*{provinceId}">
                                <option value="">----- Chọn tỉnh -----</option>
                                <option th:each="p : ${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="form-control-label" for="field_permDistrict">Quận/huyện</label>
                            <select class="form-control" onchange="loadWardByProvince(this.value)"
                                    id="field_permDistrict" name="permDistrict" th:field="*{districtId}">
                                <option value="">----- Chọn quận/huyện -----</option>
                                <option th:each="p : ${districts}" th:value="${p.id}" th:text="${p.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="tboxApp.hrmCandidate.permTown"
                                   for="field_permTown">Phường/xã</label>
                            <select class="form-control" id="field_permTown" name="permTown"
                                    formControlName="permTownId" th:field="*{wardId}">
                                <option value="">----- Chọn phường/xã -----</option>
                                <option th:each="p : ${towns}" th:value="${p.id}" th:text="${p.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3 ml-auto">
                        <label class="">Số điện thoại:</label>
                        <div class="kt-input-icon">
                            <input type="text" class="form-control" name="phone" placeholder="Số điện thoại"
                                   th:field="*{phone}">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i
                                    class="la la-phone"></i></span></span>
                        </div>
                        <div class="invalid-field" th:if="${#fields.hasErrors('phone')}">Số điện thoại không hợp lệ</div>
                        <span class="invalid-field" th:text="${errorPhone}"></span>

                        <span class="form-text text-muted">Vui lòng nhập số điện thoại</span>
                    </div>
                    <div class="col-lg-3">
                        <label>Giới tính:</label>
                        <div class="kt-radio-inline">
                            <label class="kt-radio kt-radio--solid">
                                <input type="radio" name="gender" value="M" th:field="*{gender}"> Nam
                                <span></span>
                            </label>
                            <label class="kt-radio kt-radio--solid">
                                <input type="radio" name="gender" value="F" th:field="*{gender}"> Nữ
                                <span></span>
                            </label>
                            <div class="invalid-field" th:if="${#fields.hasErrors('gender')}">Bạn chưa chọn giới tính
                            </div>
                        </div>
                        <span class="form-text text-muted">Vui lòng chọn giới tính</span>
                    </div>
                    <div class="col-lg-3">
                        <label>Kỹ năng công việc:</label>
                        <select class="form-control kt-select2" id="cbbSkill" name="skills" multiple="multiple">
                            <option th:each="s : ${skill}" th:value="${s.id}" th:text="${s.name}"></option>
                            <option th:if="${candidateSkillsName != null}" th:each="r : ${allSkills}" th:value="${r.id}"
                                    th:text="${r.name}"
                                    th:attrappend="selected=${#arrays.contains(candidateSkillsName, r.name)} ? 'selected' : ''"></option>
                            <option th:if="${candidateSkillsName == null}" th:each="r : ${allSkills}" th:value="${r.id}"
                                    th:text="${r.name}"></option>
                        </select>
                        <span class="form-text text-muted">Vui lòng chọn kỹ năng</span>
                    </div>

                </div>
                <div id="experience-list" class="kt-portlet kt-portlet--mobile">
                    <h4 class="kt-section__title text-success">2. Kinh nghiệm làm việc<span onclick="showHidenExperience()"
                                                                                            class="float-right la la-angle-down text-success "></span>
                    </h4>
                    <div class="experience-item" th:id="experience + ${itemStart.index}" th:each="experience, itemStart : ${candidate.experiences}">
                        <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                        <div class="form-group row ml-5">
                            <div class="col-lg-5 ">
                                <label>Tên công ty/Tổ chức:</label>
                                <span class="obligatory">*</span>
                                <input type="text" class="form-control" placeholder="Tên công ty/Tổ chức"
                                       th:field="*{experiences[__${itemStart.index}__].company}">
                                <span class="form-text text-muted">Vui lòng nhập tên công ty/tổ chức</span>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <label class="form-control-label">Vị trí:</label>
                                    <select class="form-control" formControlName="levelId"
                                            th:field="*{experiences[__${itemStart.index}__].level}">
                                        <option th:each="p : ${levels}" th:value="${p.id}" th:text="${p.name}"></option>
                                        <option th:each="p : ${roles}" th:value="${p.id}" th:text="${p.name}"></option>
                                        <option th:each="p : ${posits}" th:value="${p.id}" th:text="${p.name}"></option>
                                    </select>
                                    <span class="form-text text-muted">Vui lòng chọn vị trí</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <span class="btn btn-success la la-plus" onclick="addExperienceForm()"></span>
                                <button class="btn btn-danger la la-minus" onclick="removeExperienceForm(this.value)" th:value="${itemStart.index}"></button>
                            </div>
                        </div>
                        <div class="form-group row ml-5">
                            <div class="col-lg-5 ">
                                <label>Thời gian từ ngày:</label>
                                <span class="obligatory">*</span>
                                <input style="float: left" type="date" class="form-control"
                                       th:field="*{experiences[__${itemStart.index}__].start}">
                                <span class="form-text text-muted">Vui lòng nhập thời gian bắt đầu</span>
                            </div>
                            <div class="col-lg-5">
                                <label>Đến ngày:</label>
                                <span class="obligatory">*</span>
                                <input type="date" class="form-control"
                                       th:field="*{experiences[__${itemStart.index}__].end}">
                                <span class="form-text text-muted">Vui lòng nhập ngày kết thúc</span>
                            </div>
                        </div>
                        <div class="form-group row ml-5">
                            <div class="col-lg-10 ">
                                <label>Mô tả công việc:</label>
                                <span class="obligatory">*</span>
                                <textarea class="form-control" rows="5" placeholder="Mô tả công việc" name="description"
                                          th:field="*{experiences[__${itemStart.index}__].description}"></textarea>
                                <span class="form-text text-muted">Vui lòng nhập mô tả công việc</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="project-list" class="kt-portlet kt-portlet--mobile">
                    <h4 class="kt-section__title text-success">3. Dự án từng tham gia<span onclick="showHidenProject()"
                                                                                           class="float-right la la-angle-down text-success "></span>
                    </h4>
                    <div  class = "project-item" th:id="project + ${item.index}" th:each="project, item: ${candidate.projects}">
                        <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                        <div class="form-group row ml-5">
                            <div class="col-lg-5 ">
                                <label>Tên dự án:</label>
                                <span class="obligatory">*</span>
                                <input style="float: left" type="text" class="form-control" name="name"
                                       placeholder="Tên dự án" th:field="*{projects[__${item.index}__].name}">
                                <span class="form-text text-muted">Vui lòng nhập tên dự án</span>
                            </div>
                            <div class="col-5">
                                <div class="form-group">
                                    <label class="form-control-label" for="field_level">Vị trí:</label>
                                    <select class="form-control" id="field_level" formControlName="levelId">
                                        <option value="---Chọn vị trí---">---Chọn vị trí---</option>
                                        <option th:each="p : ${levels}" th:value="${p.id}" th:text="${p.name}"></option>
                                        <option th:each="p : ${roles}" th:value="${p.id}" th:text="${p.name}"></option>
                                        <option th:each="p : ${posits}" th:value="${p.id}" th:text="${p.name}"></option>
                                    </select>
                                    <span class="form-text text-muted">Vui lòng chọn vị trí</span>
                                </div>
                            </div>
                            <div class="col-2">
                                <span><i class="btn btn-success la la-plus" onclick="addProjectForm()"></i></span>
                                <button class="btn btn-danger la la-minus" onclick="removeProjectForm(this.value)" th:value="${item.index}"></button>
                            </div>
                        </div>
                        <div class="form-group row ml-5">
                            <div class="col-lg-5 ">
                                <label>Thời gian từ ngày:</label>
                                <span class="obligatory">*</span>
                                <input style="float: left" type="date" class="form-control">
                                <span class="form-text text-muted">Vui lòng nhập thời gian bắt đầu</span>
                            </div>
                            <div class="col-lg-5">
                                <label>Đến ngày:</label>
                                <span class="obligatory">*</span>
                                <input type="date" class="form-control">
                                <span class="form-text text-muted">Vui lòng nhập ngày kết thúc</span>
                            </div>
                        </div>
                        <div class="form-group row ml-5">
                            <div class="col-lg-5 ">
                                <label>Quy mô:</label>
                                <span class="obligatory">*</span>
                                <input style="float: left" type="number" class="form-control" name="member"
                                       placeholder="Số người tham gia" min="1"
                                       th:field="*{projects[__${item.index}__].member}">
                                <span class="form-text text-muted">Vui lòng nhập quy mô dự án</span>
                            </div>
                            <div class="col-lg-5 ">
                                <label>Công nghệ:</label>
                                <span class="obligatory">*</span>
                                <input style="float: left" type="text" class="form-control" name="technology"
                                       placeholder="Công nghệ sử dụng"
                                       th:field="*{projects[__${item.index}__].technology}">
                                <span class="form-text text-muted">Vui lòng nhập tên công nghệ</span>
                            </div>
                        </div>
                        <div class="form-group row ml-5">
                            <div class="col-lg-10 ">
                                <label>Mô tả công việc:</label>
                                <span class="obligatory">*</span>
                                <textarea class="form-control" rows="5" placeholder="Mô tả công việc"
                                          name="descriptionPrọect"
                                          th:field="*{projects[__${item.index}__].description}"></textarea>
                                <span class="form-text text-muted">Vui lòng nhập mô tả công việc</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <button type="submit" class="btn btn-primary">Add</button>
                <a class="btn btn-secondary" th:href="@{'/admin/hrm/candidate/list'}">Cancel</a>
            </div>
        </div>

    </form>
    <!--end::Form-->

    <!--
        <script th:inline="javascript" th:src="@{/assets/js/addExperienceForm.js}"></script>
    -->
    <!--
        <script th:inline="javascript" th:src="@{/assets/js/addProjectForm.js}"></script>
    -->

    <script th:inline="javascript" th:src="@{/assets/js/showHiden.js}"></script>

    <script th:inline="javascript" th:src="@{/assets/js/global.js}"></script>

    <script th:inline="javascript">

        function addProjectForm() {
            var options = '';

            /*<![CDATA[*/

            let levels = /*[[${levels}]]*/ [];
            let roles = /*[[${roles}]]*/ [];
            let posits = /*[[${posits}]]*/ [];

            /*]]>*/
            levels.forEach((value, index) => {
                options = options + '<option value="' + value.id + '">' + value.name + '</option>';
        });
            roles.forEach((value, index) => {
                options = options + '<option value="' + value.id + '">' + value.name + '</option>';
        });
            posits.forEach((value, index) => {
                options = options + '<option value="' + value.id + '">' + value.name + '</option>';
        });

            let numberItem = document.querySelectorAll('.project-item').length;
            let project = '<div class="project-item" id="project'+numberItem+'">\n' +
                '                        <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>\n' +
                '                        <div class="form-group row ml-5">\n' +
                '                            <div class="col-lg-5 ">\n' +
                '                                <label>Tên dự án:</label>\n' +
                '                                <span class="obligatory">*</span>\n' +
                '                                <input style="float: left" type="text" class="form-control" placeholder="Tên dự án" name="projects['+numberItem+'].name">\n' +
                '                                <span class="form-text text-muted">Vui lòng nhập tên dự án</span>\n' +
                '                            </div>\n' +
                '                            <div class="col-5">\n' +
                '                                <div class="form-group">\n' +
                '                                    <label class="form-control-label" for="field_level">Vị trí:</label>\n' +
                '                                    <select class="form-control" id="field_level" formControlName="levelId">\n' +
                '                                        <option value="---Chọn vị trí---">---Chọn vị trí---</option>\n' +
                options +
                '                                    </select>\n' +
                '                                    <span class="form-text text-muted">Vui lòng chọn vị trí</span>\n' +
                '                                </div>\n' +
                '                            </div>\n' +
                '                            <div class="col-2">\n' +
                '                                <span><i class="btn btn-success la la-plus" onclick="addProjectForm()"></i></span>\n' +
                '                                <button class="btn btn-danger la la-minus" onclick="removeProjectForm(this.value)" value="'+numberItem+'">\n' +
                '                            </div>' +
                '                        </div>\n' +
                '                        <div class="form-group row ml-5">\n' +
                '                            <div class="col-lg-5 ">\n' +
                '                                <label>Thời gian từ ngày:</label>\n' +
                '                                <span class="obligatory">*</span>\n' +
                '                                <input style="float: left" type="date" class="form-control">\n' +
                '                                <span class="form-text text-muted">Vui lòng nhập thời gian bắt đầu</span>\n' +
                '                            </div>\n' +
                '                            <div class="col-lg-5">\n' +
                '                                <label>Đến ngày:</label>\n' +
                '                                <span class="obligatory">*</span>\n' +
                '                                <input type="date" class="form-control" >\n' +
                '                                <span class="form-text text-muted">Vui lòng nhập ngày kết thúc</span>\n' +
                '                            </div>\n' +
                '                        </div>\n' +
                '                        <div class="form-group row ml-5">\n' +
                '                            <div class="col-lg-5 ">\n' +
                '                                <label>Quy mô:</label>\n' +
                '                                <span class="obligatory">*</span>\n' +
                '                                <input style="float: left" type="number" class="form-control" placeholder="Số người tham gia" min="1" name="projects['+numberItem+'].member">\n' +
                '                                <span class="form-text text-muted">Vui lòng nhập quy mô dự án</span>\n' +
                '                            </div>\n' +
                '                            <div class="col-lg-5 ">\n' +
                '                                <label>Công nghệ:</label>\n' +
                '                                <span class="obligatory">*</span>\n' +
                '                                <input style="float: left" type="text" class="form-control" placeholder="Công nghệ sử dụng" name="projects['+numberItem+'].technology">\n' +

                '                                <span class="form-text text-muted">Vui lòng nhập tên công nghệ</span>\n' +
                '                            </div>\n' +
                '                        </div>\n' +
                '                        <div class="form-group row ml-5">\n' +
                '                            <div class="col-lg-10 ">\n' +
                '                                <label>Mô tả công việc:</label>\n' +
                '                                <span class="obligatory">*</span>\n' +
                '                                <textarea class="form-control" rows="5" placeholder="Mô tả công việc" name="projects['+numberItem+'].description"></textarea>\n' +
                '                                <span class="form-text text-muted">Vui lòng nhập mô tả công việc</span>\n' +
                '                            </div>\n' +
                '                        </div>\n' +
                '                    </div>'
            $('#project-list').append(project);
        }
        function addExperienceForm() {

            let options = '';

            /*<![CDATA[*/

            let levels = /*[[${levels}]]*/ [];
            let roles = /*[[${roles}]]*/ [];
            let posits = /*[[${posits}]]*/ [];

            /*]]>*/
            levels.forEach((value, index) => {
                options = options + '<option value="' + value.id + '">' + value.name + '</option>';
        });
            roles.forEach((value, index) => {
                options = options + '<option value="' + value.id + '">' + value.name + '</option>';
        });
            posits.forEach((value, index) => {
                options = options + '<option value="' + value.id + '">' + value.name + '</option>';
        });

            console.log(options);

            let numberItem = document.querySelectorAll('.experience-item').length;
            let experience = "<div class=\"experience-item\" id='experience"+numberItem+"'><!--th:each=\"c: *{experiences}\"-->\n" +
                "                        <div class=\"kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit\"></div>\n" +
                "                        <div class=\"form-group row ml-5\">\n" +
                "                            <div class=\"col-lg-5 \">\n" +
                "                                <label>Tên công ty/Tổ chức:</label>\n" +
                "                                <span class=\"obligatory\">*</span>\n" +
                "                                <input type=\"text\" class=\"form-control\" name=\"experiences[" + numberItem + "].company\" placeholder=\"Tên công ty/Tổ chức\"\n" +
                "                                       id=\"experiences" + numberItem + ".company\">\n" +
                "                                <span class=\"form-text text-muted\">Vui lòng nhập tên công ty/tổ chức</span>\n" +
                "                            </div>\n" +
                "                            <div class=\"col-5\">\n" +
                "                                <div class=\"form-group\">\n" +
                "                                    <label class=\"form-control-label\">Vị trí:</label>\n" +
                "                                    <select class=\"form-control\" name=\"experiences[" + numberItem + "].level\" formControlName=\"levelId\"\n" +
                "                                            id=\"experiences" + numberItem + ".level\">\n" +
                "                                        <option value=\"---Chọn vị trí---\">---Chọn vị trí---</option>\n" +
                options +
                "                                    </select>\n" +
                "                                    <span class=\"form-text text-muted\">Vui lòng chọn vị trí</span>\n" +
                "                                </div>\n" +
                "                            </div>\n" +
                "                            <div class=\"col-2\">\n" +
                "                                <span><i class=\"btn btn-success la la-plus\" onclick=\"addExperienceForm()\"></i></span>\n" +
                "                                <button class=\"btn btn-danger la la-minus\" onclick=\"removeExperienceForm(this.value)\" value='"+ numberItem +"'></button>\n" +
                "                            </div>" +
                "                        </div>\n" +
                "                        <div class=\"form-group row ml-5\">\n" +
                "                            <div class=\"col-lg-5 \">\n" +
                "                                <label>Thời gian từ ngày:</label>\n" +
                "                                <span class=\"obligatory\">*</span>\n" +
                "                                <input style=\"float: left\" type=\"date\" name=\"experiences[" + numberItem + "].start\" class=\"form-control\">\n" +
                "                                <span class=\"form-text text-muted\">Vui lòng nhập thời gian bắt đầu</span>\n" +
                "                            </div>\n" +
                "                            <div class=\"col-lg-5\">\n" +
                "                                <label>Đến ngày:</label>\n" +
                "                                <span class=\"obligatory\">*</span>\n" +
                "                                <input type=\"date\" class=\"form-control\" name=\"experiences[" + numberItem + "].end\" id=\"\">\n" +
                "                                <span class=\"form-text text-muted\">Vui lòng nhập ngày kết thúc</span>\n" +
                "                            </div>\n" +
                "                        </div>\n" +
                "                        <div class=\"form-group row ml-5\">\n" +
                "                            <div class=\"col-lg-10 \">\n" +
                "                                <label>Mô tả công việc:</label>\n" +
                "                                <span class=\"obligatory\">*</sp`an>\n" +
                "                                <textarea class=\"form-control\" rows=\"5\" placeholder=\"Mô tả công việc\"\n" +
                "                                          name=\"experiences[" + numberItem + "].description\"></textarea>\n" +
                "                                <span class=\"form-text text-muted\">Vui lòng nhập mô tả công việc</span>\n" +
                "                            </div>\n" +
                "                        </div>\n" +
                "                    </div>"
            $('#experience-list').append(experience);
        }
        function loadDistrictByProvince(provinceId) {
            $.get([[@{
                '/common/district/list/'
            }
        ]]
            + provinceId, function (data) {
                emptyCombo($("#field_permDistrict"));
                emptyCombo($("#field_permTown"));

                //console.log(jQuery.parseJSON(data));
                $("#field_permDistrict").append('<option>----- Chọn quận/huyện -----</option>');
                $("#field_permTown").append('<option>----- Chọn phường/xã -----</option>');
                data.forEach(function (item, i) {
                    var option = "<option value = " + item.id + ">" + item.name + "</option>";
                    $("#field_permDistrict").append(option);
                });
            }
        )
            ;
        }

        function loadWardByProvince(districtId) {
            $.get([[@{
                '/common/ward/list/'
            }
        ]]
            + districtId, function (data) {
                emptyCombo($("#field_permTown"));
                data.forEach(function (item, i) {
                    const option = "<option value = " + item.id + ">" + item.name + "</option>";
                    $("#field_permTown").append(option);
                });
            }
        )
            ;
        }

        function emptyCombo(elm) {
            $(elm).empty();
        }
    </script>
</div>
</body>
</html>
