<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/metronic-template}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet" th:if="${employee != null}">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Chi tiết nhân viên
                    </h3>
                </div>
            </div>
            <!--begin::Form-->
            <form class="kt-form" th:action="@{'/admin/hrm/employee/update/' + ${employee.id}}" method="POST">
                <div class="kt-portlet__body">
                    <h3 class="kt-section__title">1. Thông tin chung</h3>
                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label>Mã nhân viên:</label>
                            <span class="form-text" th:text="${employee.code}"></span>
                        </div>
                        <div class="col-lg-3">
                            <label class="">Họ và tên:</label>
                            <span class="form-text" th:text="${employee.fullname}"></span>
                        </div>
                        <div class="col-lg-3">
                            <label>Email:</label>
                            <span class="form-text" th:text="${employee.email}"></span>
                        </div>
                        <div class="col-lg-3">
                            <label class="">Số điện thoại:</label>
                            <span class="form-text" th:text="${employee.phone}"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label class="">Ngày sinh:</label>
                            <span class="form-text" th:text="  ${#temporals.format(employee.dob,'dd/MM/yyyy')}"></span>
                        </div>
                        <div class="col-lg-3">
                            <label>Giới tính:</label>
                            <span class="form-text"  th:text="${employee.gender}=='M' ? 'Nam' : 'Nữ'" ></span>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Nhân viên đang insource</label>
                                <span class="form-text"  th:text="${employee.isInsource} == true ? 'Đang làm insource' : 'Không'"></span>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label class="">Trạng thái:</label>
                            <span class="form-text" th:text="${employee.status}=='A'? 'Active' : 'Block'"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label>CMND:</label>
                            <span class="form-text" th:text="${employee.idNo}"></span>
                        </div>
                        <div class="col-lg-3">
                            <label>Ngày cấp:</label>
                            <span class="form-text" th:text="  ${#temporals.format(employee.idIssueDtm,'dd/MM/yyyy')}"></span>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="form-control-label">Thường trú: Tỉnh/thành</label>
                                <span class="form-text" th:text="${province}"></span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="form-control-label">Quận/huyện</label>
                                <span class="form-text" th:text="${district}"></span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="form-control-label">Phường/xã</label>
                                <span class="form-text" th:text="${ward}"></span>
                            </div>
                        </div>
                    </div>
                    <h3 class="kt-section__title">2. Thông tin hợp đồng</h3>
                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Loại hợp đồng:</label>
                                        <span class="form-text" th:text="${employee.contractType.name}"></span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Hợp lệ từ:</label>
                                        <span class="form-text" th:text="${employee.cntVldFrmDt}"></span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Đến ngày:</label>
                                        <span class="form-text" th:text="${employee.cntVldToDt}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label">Hình thức trả lương:</label>
                                <span class="form-text" th:text="${employee.salPmtType}"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label">Ngày trả lương:</label>
                                <span class="form-text" th:text="${employee.salaryDate}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2" sec:authorize="hasRole('ROLE_SAL')">
                            <div class="form-group" >
                                <label class="form-control-label">Lương thỏa thuận:</label>
                                <span class="form-text"  th:text="${employee.slrBefore}"></span>
                            </div>
                        </div>
                        <div class="col-2" sec:authorize="hasRole('ROLE_SAL')">
                            <div class="form-group">
                                <label class="form-control-label">Phụ cấp:</label>
                                <span class="form-text" th:text="${employee.supportAmt}"></span>
                            </div>
                        </div>
                        <div class="col-2" sec:authorize="hasRole('ROLE_SAL')">
                            <div class="form-group">
                                <label class="form-control-label">Lương phải trả:</label>
                                <span class="form-text"  th:text="${employee.slrAmtEnc}"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label">Mã số thuế:</label>
                                <span class="form-text" th:text="${employee.taxNo}"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label">Số BHXH:</label>
                                <span class="form-text" th:text="${employee.bhxhNo}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label">Số BHYT</label>
                                <span class="form-text" th:text="${employee.bhytNo}"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label">Thời gian tham gia BHXH</label>
                                <span class="form-text" th:text="${employee.tgtgBhxh}"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label">BH thất nghiệp</label>
                                <span class="form-text" th:text="${employee.bhThatNghiep}"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label">Ngày nghỉ ITSOL:</label>
                                <span class="form-text" th:text="  ${#temporals.format(employee.endDate,'dd/MM/yyyy')}"></span>
                            </div>
                        </div>
                    </div>
                    <h3 class="kt-section__title">3. Thông tin công việc</h3>
                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label">Chi nhánh:</label>
                                <span class="form-text" th:text="${employee.branch.name}"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label">Đơn vị:</label>
                                <span class="form-text" th:text="${employee.unit.name}"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label">Vị trí:</label>
                                <span class="form-text" th:text="${employee.level.name}"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label">Vai trò:</label>
                                <span class="form-text" th:text="${employee.role.name}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label">Học vấn:</label>
                                <span class="form-text" th:text="${employee.edu}"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label class="form-control-label">CV</label>
                                <a th:if="${employee.cv != null}" th:href="@{'/download/' + ${employee.cv}}" th:text="${'Download CV'}"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                        <a  class="btn btn-secondary" th:href="@{'/admin/hrm/employee/list'} ">Cancel</a>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
</div>
</body>
</html>