<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/metronic-template}">
<body>
<div layout:fragment="subheader">
    <th:block th:include="/admin/hrm/employee-list-subheader"></th:block>
</div>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
												<span class="kt-portlet__head-icon kt-hidden">
													<i class="la la-gear"></i>
												</span>
                <h3 class="kt-portlet__head-title">
                    Thống kê nhân viên hết hạn hợp đồng
                </h3>
            </div>
        </div>

        <div class="kt-portlet__body">
            <div id="kt_amcharts_8" style="height: 500px;">

            </div>
        </div>
    </div>

    <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded" id="local_data"
             style="">
            <table class="kt-datatable__table" style="display: block; min-height: 500px;">
                <thead class="kt-datatable__head">
                <tr class="kt-datatable__row" style="left: 0px;">
                    <th data-field="RecordID"
                        class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"><span
                            style="width: 20px;"><label
                            class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid"><input
                            type="checkbox">&nbsp;<span></span></label></span></th>

                    <th data-field="OrderID" class="kt-datatable__cell kt-datatable__cell--sort"><span
                            style="width: 119px;">Mã Nhân Viên</span></th>
                    <th data-field="OrderID" class="kt-datatable__cell kt-datatable__cell--sort"><span
                            style="width: 119px;">Loại hợp đồng</span></th>
                    <th data-field="Country" class="kt-datatable__cell kt-datatable__cell--sort"><span
                            style="width: 119px;">Họ tên</span></th>
                    <th data-field="Country" class="kt-datatable__cell kt-datatable__cell--sort"><span
                            style="width: 119px;">Điện thoại</span></th>
                    <th data-field="Country" class="kt-datatable__cell kt-datatable__cell--sort"><span
                            style="width: 119px;">Email</span></th>
                    <th data-field="Country" class="kt-datatable__cell kt-datatable__cell--sort"><span
                            style="width: 119px;">Ngày Hết Hạn</span></th>
                </tr>
                </thead>

                <tbody class="kt-datatable__body" style="">
                <tr data-row="0" class="kt-datatable__row" style="left: 0px;" th:each="u : ${page.content}">
                    <td class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                        data-field="RecordID"><span style="width: 20px;"><label
                            class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                        <input type="checkbox" value="1">&nbsp;<span></span></label></span>
                    </td>
                    <td data-field="userId" class="kt-datatable__cell"><span style="width: 119px;" th:text="${u.code}">
                                                                             </span>
                    </td>
                    <td data-field="userName" class="kt-datatable__cell"><span style="width: 119px;"
                                                                               th:text="${u.contractType.name}">
                    </span></td>
                    <td data-field="userName" class="kt-datatable__cell"><span style="width: 119px;"
                                                                               th:text="${u.fullname}"></span></td>
                    <td data-field="userName" class="kt-datatable__cell"><span style="width: 119px;"
                                                                               th:text="${u.phone}"></span>

                    </td>
                    <td data-field="userName" class="kt-datatable__cell"><span style="width: 119px;"
                                                                               th:text="${u.email}"></span>
                    </td>

                    <td data-field="userName" class="kt-datatable__cell"><span style="width: 119px;"
                                                                               th:text="${u.endDate}"></span>
                    </td>

                </tr>
                </tbody>
            </table>

            <div class="kt-datatable__pager kt-datatable--paging-loaded">
                <ul class="kt-datatable__pager-nav">
                    <li th:if="${page.totalPages > 0}">
                        <a title="First"
                           th:href="@{/admin/report/exp-employee(page=0,size=${page.size}, key=${param.key})}"
                           class="kt-datatable__pager-link kt-datatable__pager-link--first kt-datatable__pager-link">
                            <i class="flaticon2-fast-back"></i>
                        </a>
                    </li>

                    <li th:if="${page.hasPrevious()}">
                        <a title="Previous"
                           th:href="@{/admin/report/exp-employee(page=${page.number-1},size=${page.size}, key=${param.key})}"
                           class="kt-datatable__pager-link kt-datatable__pager-link--prev kt-datatable__pager-link"><i
                                class="flaticon2-back"></i>
                        </a>
                    </li>

                    <li style=""></li>
                    <li style="display: none;"><input type="text" class="kt-pager-input form-control"
                                                      title="Page number"></li>
                    <li th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                        <a th:if="${page.number == i}"
                           class="kt-datatable__pager-link kt-datatable__pager-link-number kt-datatable__pager-link--active">
                            [[${i}+1]]
                        </a>
                        <a th:unless="${page.number == i}"
                           th:href="@{/admin/report/exp-employee(page=${i},size=${page.size}, key=${param.key})}"
                           class="kt-datatable__pager-link kt-datatable__pager-link-number">
                            [[${i}+1]]
                        </a>
                    </li>
                    <li></li>

                    <li th:if="${page.hasNext()}">
                        <a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next"
                           th:href="@{/admin/report/exp-employee(page=${page.number+1},size=${page.size}, key=${param.key})}"><i
                                class="flaticon2-next"></i>
                        </a>
                    </li>

                    <li th:if="${page.totalPages > 0}">
                        <a title="Last" class="kt-datatable__pager-link kt-datatable__pager-link--last"
                           th:href="@{/admin/report/exp-employee(page=${page.totalPages - 1},size=${page.size}, key=${param.key})}"><i
                                class="flaticon2-fast-next"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!--end: Datatable -->
    <link href="http://www.amcharts.com/lib/3/plugins/export/export.css" rel="stylesheet" type="text/css"/>

    <!--begin::Page Vendors(used by this page) -->
    <script src="http://www.amcharts.com/lib/3/amcharts.js" type="text/javascript"></script>
    <script src="http://www.amcharts.com/lib/3/serial.js" type="text/javascript"></script>
    <script src="http://www.amcharts.com/lib/3/radar.js" type="text/javascript"></script>
    <script src="http://www.amcharts.com/lib/3/pie.js" type="text/javascript"></script>
    <script src="http://www.amcharts.com/lib/3/plugins/tools/polarScatter/polarScatter.min.js"
            type="text/javascript"></script>
    <script src="http://www.amcharts.com/lib/3/plugins/animate/animate.min.js" type="text/javascript"></script>
    <script src="http://www.amcharts.com/lib/3/plugins/export/export.min.js" type="text/javascript"></script>
    <script src="http://www.amcharts.com/lib/3/themes/light.js" type="text/javascript"></script>

    <!--end::Page Vendors -->

    <!--begin::Page Scripts(used by this page) -->
    <!-- call API-->
    <script>
        $.ajax({
            url: '/api/report/exp-employee',
            method: 'GET'
        }).done(function (data) {
            AmCharts.makeChart("kt_amcharts_8", {
                "type": "pie",
                "titleField": "name",
                "valueField": "countExpEmployee",
                "legend": {
                    "equalWidths": false,
                    "valueAlign": "left",
                    "valueWidth": 120
                },
                "dataProvider": data
            });
        }).fail(function (error) {
            console.log(error);
        });

    </script>
</div>
</body>
</html>
