<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.activation.title}">Payout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>

<body>
<table>
    <tr>
        <th th:text="#{sendEmail.contracts.code}"></th>
        <th th:text="#{sendEmail.contracts.name}"></th>
        <th th:text="#{sendEmail.contracts.email}"></th>
        <th th:text="#{sendEmail.contracts.start}"></th>
        <th th:text="#{sendEmail.contracts.end}"></th>
        <th th:text="#{sendEmail.contracts.money}"></th>
    </tr>

    <th:block th:each="c : ${contracts}">
        <tr>
            <td th:text="${c.code}">...</td>
            <td th:text="${c.name}">...</td>
            <td th:text="${c.email}">...</td>
            <td th:text="${c.start}">...</td>
            <td th:text="${c.end}">...</td>
            <td th:text="${c.money}">...</td>
        </tr>
    </th:block>
</table>
</body>
</html>
