<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.activation.title}">Payout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>

<body>
<table>
    <tr>
        <th th:text="#{sendEmail.employee.name}"></th>
        <th th:text="#{sendEmail.employee.email}"></th>
        <th th:text="#{sendEmail.employee.end_date}"></th>
        <th th:text="#{sendEmail.employee.end_dob}"></th>
        <th th:text="#{sendEmail.employee.phone}"></th>
    </tr>

    <th:block th:each="e : ${employees}">
        <tr>
            <td th:text="${e.fullname}">...</td>
            <td th:text="${e.email}">...</td>
            <td th:text="${e.endDate}">...</td>
            <td th:text="${e.dob}">...</td>
            <td th:text="${e.phone}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>
