<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}">Payout</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>

    <body>
        <table>
            <tr>
                <th th:text="#{email.payout.fullname}"></th>
                <th th:text="#{email.payout.email}"></th>
                <th th:text="#{email.payout.phone}"></th>
                <th th:text="#{email.payout.amount}"></th>
                <th th:text="#{email.payout.status}"></th>
            </tr>
            <th:block th:each="e : ${employees}">
                <tr>
                    <td th:text="${e.fullname}">...</td>
                    <td th:text="${e.email}">...</td>
                    <td th:text="${e.phone}">...</td>
                    <td th:text="${'XXX-XXX-XXX'}">...</td>
                    <td th:text="${e.status}">...</td>
                </tr>
            </th:block>
            <tr>
                <td colspan="5" th:text="#{email.payout.total(${total})}">...</td>
            </tr>
        </table>
    </body>
</html>
