<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.title}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        Chào bạn, <span th:text="${userName}"></span>
        <br/><br/>
        Mật khẩu đăng nhập của bạn là: <span th:text="${password}"></span>
        <br/><br/>
        Xin cảm ơn!
    </body>
</html>
