<!--Ninh Trang An-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/metronic-template}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Chi tiết khách hàng
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form class="kt-form"  th:action="@{/admin/customer/update}" th:object="${customer}" method="post" enctype="multipart/form-data">
            <div class="kt-portlet__body">
                <div class="kt-portlet__body">
                    <h3 class="kt-section__title">Thông tin chung</h3>
                    <input type="hidden" th:field="*{id}" name="id"/>
                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label>Mã khách hàng:</label>
                            <span class="obligatory">*</span>
                            <input type="text" class="form-control" id="code"  name="code" placeholder="Mã khách hàng" th:field="*{code}">
                            <div class="invalid-field" th:if="${#fields.hasErrors('code')}">Mã khách hàng không hợp lệ</div>
                            <span class="invalid-field" th:text="${errCode}"></span>
                            <span class="form-text text-muted">Vui lòng nhập mã khách hàng</span>

                        </div>
                        <div class="col-lg-3">
                            <label>Tên khách hàng:</label>
                            <span class="obligatory">*</span>
                            <input type="text" class="form-control" name="name"  placeholder="Tên khách hàng" th:field="*{name}">
                            <div class="invalid-field" th:if="${#fields.hasErrors('name')}">Tên khách hàng không hợp lệ</div>
                            <span class="invalid-field" th:text="${errName}"></span>

                            <span class="form-text text-muted">Vui lòng nhập tên khách hàng</span>

                        </div>
                        <div class="col-lg-3">
                            <label>Email:</label>
                            <span class="obligatory">*</span>
                            <input type="text" class="form-control" name="value"  placeholder="Email" th:field="*{email}">
                            <div class="invalid-field" th:if="${#fields.hasErrors('email')}">Email không hợp lệ</div>
                            <span class="form-text text-muted">Nhập email</span>
                        </div>
                        <div class="col-lg-3">
                            <label>Số điện thoại:</label>
                            <span class="obligatory">*</span>
                            <input type="text" class="form-control" name="value"  placeholder="Số điện thoại" th:field="*{phone}">
                            <div class="invalid-field" th:if="${#fields.hasErrors('phone')}">Số điện thoại không hợp lê</div>
                            <span class="form-text text-muted">Nhập số điện thoại</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a  class="btn btn-secondary" th:href="@{'/admin/customer/list'}">Cancel</a>
                </div>
            </div>
        </form>

        <!--end::Form-->
    </div>

    <!--end::Form-->
</div>

</div>
</body>
</html>
