<!--Ninh Trang An-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/metronic-template}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet" th:if="${customer != null}">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Chi tiết khách hàng
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form class="kt-form"  th:action="@{'/admin/customer/upate'}" th:object="${customer.id}" method="post" enctype="multipart/form-data">
            <div class="kt-portlet__body">
                <div class="kt-portlet__body">
                    <h3 class="kt-section__title">Thông tin chung</h3>
                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label>Mã khách hàng:</label>
                            <span class="form-text" th:text="${customer.code}"></span>
                        </div>
                        <div class="col-lg-3">
                            <label>Tên khách hàng:</label>
                            <span class="form-text" th:text="${customer.name}"></span>
                        </div>
                        <div class="col-lg-3">
                            <label>Email:</label>
                            <span class="form-text" th:text="${customer.email}"></span>
                        </div>
                        <div class="col-lg-3">
                            <label>Điện thoại:</label>
                            <span class="form-text" th:text="${customer.phone}"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <a  class="btn btn-secondary" th:href="@{'/admin/customer/list'}">Cancel</a>
                </div>
            </div>
        </form>

        <!--end::Form-->
    </div>

    <!--end::Form-->
</div>

</div>
</body>
</html>
