<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
        <form id="import" method="POST" enctype="multipart/form-data"
              th:action="@{/admin/import?url=}+${#httpServletRequest.requestURI}+'&groupCode='+${groupCode}">

            <a th:href="@{/admin/export?groupCode=}+${groupCode}" class="btn btn-label-danger btn-bold">
                Export
            </a>
            <label for="files"><a class="btn btn-label-success btn-bold btn-link text-decoration-none">Import</a></label>
            <input id="files" type="file" name="file" accept=".xls,.xlsx" hidden="true" onchange="form.submit()"/>
        </form>
        <form th:action="@{/admin/customer/payment/list}">
            <div class="kt-input-icon kt-input-icon--right kt-subheader__search">
                <input type="text" class="form-control" th:value="${param.key}" name="key" placeholder="Tìm kiếm..." id="generalSearch">
                <span class="kt-input-icon__icon kt-input-icon__icon--right">
										<span><i class="flaticon2-search-1"></i></span>
									</span>
            </div>
        </form>
    </div>
    <div class="kt-subheader__toolbar">
        <div class="kt-subheader__wrapper">
            <a href="#" class="btn kt-subheader__btn-primary">
                Actions &nbsp;

                <!--<i class="flaticon2-calendar-1"></i>-->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon kt-svg-icon--sm">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                        <rect id="Rectangle-8" fill="#000000" x="4" y="5" width="16" height="3" rx="1.5"></rect>
                        <path d="M7.5,11 L16.5,11 C17.3284271,11 18,11.6715729 18,12.5 C18,13.3284271 17.3284271,14 16.5,14 L7.5,14 C6.67157288,14 6,13.3284271 6,12.5 C6,11.6715729 6.67157288,11 7.5,11 Z M10.5,17 L13.5,17 C14.3284271,17 15,17.6715729 15,18.5 C15,19.3284271 14.3284271,20 13.5,20 L10.5,20 C9.67157288,20 9,19.3284271 9,18.5 C9,17.6715729 9.67157288,17 10.5,17 Z" id="Combined-Shape" fill="#000000" opacity="0.3"></path>
                    </g>
                </svg> </a>
            <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="" data-placement="left" data-original-title="Quick actions">
                <a href="#" class="btn btn-brand btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="flaticon2-plus"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <ul class="kt-nav">
                        <li class="kt-nav__section kt-nav__section--first">
                            <span class="kt-nav__section-text">Thêm mới</span>
                        </li>
                        <li class="kt-nav__item">
                            <a th:href="@{/admin/customer/new}" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-graph-1"></i>
                                <span class="kt-nav__link-text">Nhân sự</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a th:href="@{/admin/export?groupCode=getTeamplateAppParam}" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-calendar-4"></i>
                                <span class="kt-nav__link-text">Template Import</span>
                            </a>
                        </li>
                        <!--<li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-layers-1"></i>
                                <span class="kt-nav__link-text">Report</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-calendar-4"></i>
                                <span class="kt-nav__link-text">Post</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a href="#" class="kt-nav__link">
                                <i class="kt-nav__link-icon flaticon2-file-1"></i>
                                <span class="kt-nav__link-text">File</span>
                            </a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</html>