<!--Ninh Trang An-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/metronic-template}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet" th:if="${payment != null}">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title text-info">
                    Chi tiết hóa đơn
                </h3>
            </div>
        </div>
    </div>

    <form class="kt-form"  th:action="@{'/admin/customer/payment/update'}" th:object="${payment.id}" method="post"
          enctype="multipart/form-data">
        <div class="kt-portlet__body">
            <div class="kt-portlet__body">
                <h4 class="kt-section__title text-success">1. Thông tin chung</h4>
                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                <div class="form-group row ">
                    <div class="col-lg-3">
                        <label>Mã hóa đơn:</label>
                        <span class="form-text" th:text="${payment.code}"></span>
                    </div>
                    <div class="col-lg-3">
                        <label>Mã hợp đồng:</label>
                        <span class="form-text" th:text="${contract}"></span>
                    </div>
                    <div class="col-lg-3">
                        <label>Tên thanh toán:</label>
                        <span class="form-text" th:text="${payment.name}"></span>
                    </div>

                    <div class="col-lg-3">
                        <label>Hình thức thanh toán:</label>
                        <span class="form-text" th:text="${payment.type}"></span>
                    </div>
                </div>
                <div id="experience-list" class="kt-portlet kt-portlet--mobile">
                    <h4 class="kt-section__title text-success">2. Thông tin thanh toán<span onclick="showHidenProject()"
                                                                                            class="float-right la la-angle-down text-success "></span>
                    </h4>
                    <div class="project-item" >
                        <!--                        th:id="payment + ${itemStart.index}" th:each="payment, itemStart : ${customer}"-->
                        <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                        <div class="form-group row ml-1">
                            <div class="col-lg-2">
                                <label>Mã hợp đồng:</label>
                                <select class="form-control" name="" >
                                    <option value="">---Chọn mã---</option>
                                    <option th:value="'HD01'" th:text="'HD01'"></option>
                                    <option th:value="'HD02'" th:text="'HD02'"></option>
                                </select>
                                <span class="form-text text-muted">Vui lòng chọn mã</span>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label" for="field_permBranch">Chi nhánh</label>
                                    <select class="form-control"
                                            id="field_permBranch" name="permBranch">
                                        <option value="">---Chọn chi nhánh---</option>
                                        <option th:each="p : ${branch}" th:value="${p.id}" th:text="${p.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label>Thời gian thanh toán:</label>
                                <span class="obligatory">*</span>
                                <input style="float: left" type="date" class="form-control"
                                >
                                <!--                                th:field="*{experiences[__${itemStart.index}__].start}"-->
                                <span class="form-text text-muted">Vui lòng nhập thời gian</span>
                            </div>
                            <div class="col-lg-2">
                                <label>Số tiền thanh toán:</label>
                                <span class="obligatory">*</span>
                                <input style="float: left" type="number" class="form-control" min="1" placeholder="Số tiền thanh toán"
                                >
                                <!--                                th:field="*{experiences[__${itemStart.index}__].start}"-->
                                <span class="form-text text-muted">Vui lòng nhập số tiền</span>
                            </div>
                            <div class="col-lg-2">
                                <label>Đợt thanh toán:</label>
                                <select class="form-control" name="" >
                                    <option value="">---Chọn đợt---</option>
                                    <option th:value="'1'" th:text="'Đợt 1'"></option>
                                    <option th:value="'2'" th:text="'Đợt 2'"></option>
                                    <option th:value="'3'" th:text="'Đợt 3'"></option>
                                    <option th:value="'4'" th:text="'Đợt 4'"></option>
                                    <option th:value="'5'" th:text="'Đợt 5'"></option>
                                </select>
                                <span class="form-text text-muted">Vui lòng chọn đợt</span>
                            </div>
                            <div class="col-lg-1">
                                <span class="btn btn-success la la-plus" onclick="addForm()"></span>
                                <button class="btn btn-danger la la-minus"onclick="removeProjectForm()"></button>
                            </div>
                        </div>
                        <div class="form-group row ml-1">
                            <div class="col-lg-11">
                                <label>Nội dung thanh toán:</label>
                                <span class="obligatory">*</span>
                                <textarea class="form-control" rows="5" placeholder="Mô tả khái quát" name="description"
                                ></textarea>
                                <!--                                th:field="*{experiences[__${itemStart.index}__].description}"-->
                                <span class="form-text text-muted">Vui lòng nhập nội dung</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <a class="btn btn-secondary" th:href="@{'/admin/customer/payment/list'}">Cancel</a>
            </div>
        </div>

    </form>
    <!--end::Form-->

    <!--
        <script th:inline="javascript" th:src="@{/assets/js/addExperienceForm.js}"></script>
    -->
    <!--
        <script th:inline="javascript" th:src="@{/assets/js/addProjectForm.js}"></script>
    -->

    <script th:inline="javascript" th:src="@{/assets/js/showHiden.js}"></script>

    <script th:inline="javascript" th:src="@{/static/assets/js/global.js}"></script>

</div>
</body>
</html>
