<!--Ninh Trang An-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/metronic-template}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title text-info">
                    Chi tiết hóa đơn
                </h3>
            </div>
        </div>
    </div>

    <form class="kt-form"  th:action="@{/admin/customer/payment/update}" th:object="${payment}" method="post"
          enctype="multipart/form-data">
        <div class="kt-portlet__body">
            <div class="kt-portlet__body">
                <h3 class="kt-section__title text-success">1. Thông tin chung</h3>
                <input type="hidden" th:field="*{id}" name="id"/>
                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                <div class="form-group row ">
                    <div class="col-lg-3">
                        <label>Mã hóa đơn:</label>
                        <div class="kt-input-icon">
                            <input type="text" class="form-control" name="code" placeholder="Mã hóa đơn" th:field="*{code}">
                            <span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i
                                    class="la la-unlock"></i></span></span>
                        </div>
                        <div class="invalid-field" th:if="${#fields.hasErrors('code')}">Mã hóa đơn không hợp lệ</div>
                        <span class="invalid-field" th:text="${errCode}"></span>
                        <span class="form-text text-muted">Vui lòng nhập mã hóa đơn</span>
                    </div>
                    <div class="col-lg-3">
                        <label>Mã hợp đồng:</label>
                        <select class="form-control" th:field="*{contractId}">
                            <option value="">----Chọn mã----</option>
                            <option th:each="c : ${codeContract}" th:value="${c.id}" th:text="${c.code}"></option>
                        </select>
                        <div class="invalid-field" th:if="${#fields.hasErrors('customerId')}">Mã khách hàng không hợp lệ</div>
                        <span class="form-text text-muted">Vui lòng chọn mã khách hàng</span>
                    </div>
                    <div class="col-lg-3">
                        <label>Tên thanh toán:</label>
                        <select class="form-control" name="name"  th:field="*{name}">
                            <option value="">----Tên thanh toán----</option>
                            <option th:value="'Thanh toán hợp đồng'" th:text="'Thanh toán hợp đồng'"></option>
                            <option th:value="'Thanh toán trước'" th:text="'Thanh toán trước'"></option>
                        </select>
                        <div class="invalid-field" th:if="${#fields.hasErrors('name')}">Tên thanh toán không hợp lệ</div>
                        <span class="form-text text-muted">Vui lòng chọn tên thanh toán</span>
                    </div>

                    <div class="col-lg-3">
                        <label>Hình thức thanh toán:</label>
                        <select class="form-control" name="type"  th:field="*{type}">
                            <option value="">----Hình thức thanh toán----</option>
                            <option th:value="'Trả 1 lần'" th:text="'Trả 1 lần'"></option>
                            <option th:value="'Trả góp'" th:text="'Trả góp'"></option>
                        </select>
                        <div class="invalid-field" th:if="${#fields.hasErrors('type')}">Hình thức thanh toán không hợp lệ</div>
                        <span class="form-text text-muted">Vui lòng chọn kiểu thanh toán</span>
                    </div>
                </div>
                <div id="experience-list" class="kt-portlet kt-portlet--mobile">
                    <h4 class="kt-section__title text-success">2. Thông tin thanh toán<span onclick="showHidenProject()"
                                                                                            class="float-right la la-angle-down text-success "></span>
                    </h4>
                    <div class="project-item" >
                        <!--                        th:id="payment + ${itemStart.index}" th:each="payment, itemStart : ${customer}"-->
                        <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                        <div class="form-group row ml-1">
                            <div class="col-lg-2">
                                <label>Mã hợp đồng:</label>
                                <select class="form-control" name="" >
                                    <option value="">---Chọn mã---</option>
                                    <option th:value="'HD01'" th:text="'HD01'"></option>
                                    <option th:value="'HD02'" th:text="'HD02'"></option>
                                </select>
                                <span class="form-text text-muted">Vui lòng chọn mã</span>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label class="form-control-label" for="field_permBranch">Chi nhánh</label>
                                    <select class="form-control"
                                            id="field_permBranch" name="permBranch">
                                        <option value="">---Chọn chi nhánh---</option>
                                        <option th:each="p : ${branch}" th:value="${p.id}" th:text="${p.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <label>Thời gian thanh toán:</label>
                                <span class="obligatory">*</span>
                                <input style="float: left" type="date" class="form-control"
                                >
                                <!--                                th:field="*{experiences[__${itemStart.index}__].start}"-->
                                <span class="form-text text-muted">Vui lòng nhập thời gian</span>
                            </div>
                            <div class="col-lg-2">
                                <label>Số tiền thanh toán:</label>
                                <span class="obligatory">*</span>
                                <input style="float: left" type="number" class="form-control" min="1" placeholder="Số tiền thanh toán"
                                >
                                <!--                                th:field="*{experiences[__${itemStart.index}__].start}"-->
                                <span class="form-text text-muted">Vui lòng nhập số tiền</span>
                            </div>
                            <div class="col-lg-2">
                                <label>Đợt thanh toán:</label>
                                <select class="form-control" name="" >
                                    <option value="">---Chọn đợt---</option>
                                    <option th:value="'1'" th:text="'Đợt 1'"></option>
                                    <option th:value="'2'" th:text="'Đợt 2'"></option>
                                    <option th:value="'3'" th:text="'Đợt 3'"></option>
                                    <option th:value="'4'" th:text="'Đợt 4'"></option>
                                    <option th:value="'5'" th:text="'Đợt 5'"></option>
                                </select>
                                <span class="form-text text-muted">Vui lòng chọn đợt</span>
                            </div>
                            <div class="col-lg-1">
                                <span class="btn btn-success la la-plus" onclick="addForm()"></span>
                                <button class="btn btn-danger la la-minus"onclick="removeProjectForm()"></button>
                            </div>
                        </div>
                        <div class="form-group row ml-1">
                            <div class="col-lg-11">
                                <label>Nội dung thanh toán:</label>
                                <span class="obligatory">*</span>
                                <textarea class="form-control" rows="5" placeholder="Mô tả khái quát" name="description"
                                ></textarea>
                                <!--                                th:field="*{experiences[__${itemStart.index}__].description}"-->
                                <span class="form-text text-muted">Vui lòng nhập nội dung</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <button type="submit" class="btn btn-primary">Update</button>
                <a class="btn btn-secondary" th:href="@{'/admin/customer/payment/list'}">Cancel</a>
            </div>
        </div>

    </form>
    <!--end::Form-->

    <!--
        <script th:inline="javascript" th:src="@{/assets/js/addExperienceForm.js}"></script>
    -->
    <!--
        <script th:inline="javascript" th:src="@{/assets/js/addProjectForm.js}"></script>
    -->

    <script th:inline="javascript" th:src="@{/assets/js/showHiden.js}"></script>

    <script th:inline="javascript" th:src="@{/static/assets/js/global.js}"></script>

    <script th:inline="javascript">

        function addForm() {
            //     var options = '';
            //
            //     /*<![CDATA[*/
            //
            //     let levels = /*[[${levels}]]*/ [];
            //     let roles = /*[[${roles}]]*/ [];
            //     let posits = /*[[${posits}]]*/ [];
            //
            //     /*]]>*/
            //     levels.forEach((value, index) => {
            //         options = options + '<option value="' + value.id + '">' + value.name + '</option>';
            // });
            //     roles.forEach((value, index) => {
            //         options = options + '<option value="' + value.id + '">' + value.name + '</option>';
            // });
            //     posits.forEach((value, index) => {
            //         options = options + '<option value="' + value.id + '">' + value.name + '</option>';
            // });

            let numberItem = document.querySelectorAll('.project-item').length;
            let payments = '                    <div class="project-item" >\n' +
                '<!--                        th:id="payment + ${itemStart.index}" th:each="payment, itemStart : ${customer}"-->\n' +
                '                        <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>\n' +
                '                        <div class="form-group row ml-1">\n' +
                '                            <div class="col-lg-2">\n' +
                '                                <label>Mã hợp đồng:</label>\n' +
                '                                <select class="form-control" name="" >\n' +
                '                                    <option value="">---Chọn mã---</option>\n' +
                '                                    <option th:value="\'HD01\'" th:text="\'HD01\'"></option>\n' +
                '                                    <option th:value="\'HD02\'" th:text="\'HD02\'"></option>\n' +
                '                                </select>\n' +
                '                                <span class="form-text text-muted">Vui lòng chọn mã</span>\n' +
                '                            </div>\n' +
                '                            <div class="col-lg-2">\n' +
                '                                <div class="form-group">\n' +
                '                                    <label class="form-control-label" for="field_permBranch">Chi nhánh</label>\n' +
                '                                    <select class="form-control"\n' +
                '                                            id="field_permBranch" name="permBranch">\n' +
                '                                        <option value="">---Chọn chi nhánh---</option>\n' +
                '                                        <option th:each="p : ${branch}" th:value="${p.id}" th:text="${p.name}"></option>\n' +
                '                                    </select>\n' +
                '                                </div>\n' +
                '                            </div>\n' +
                '                            <div class="col-lg-3">\n' +
                '                                <label>Thời gian thanh toán:</label>\n' +
                '                                <span class="obligatory">*</span>\n' +
                '                                <input style="float: left" type="date" class="form-control"\n' +
                '                                >\n' +
                '                                <!--                                th:field="*{experiences[__${itemStart.index}__].start}"-->\n' +
                '                                <span class="form-text text-muted">Vui lòng nhập thời gian</span>\n' +
                '                            </div>\n' +
                '                            <div class="col-lg-2">\n' +
                '                                <label>Số tiền thanh toán:</label>\n' +
                '                                <span class="obligatory">*</span>\n' +
                '                                <input style="float: left" type="number" class="form-control" min="1" placeholder="Số tiền thanh toán"\n' +
                '                                >\n' +
                '                                <!--                                th:field="*{experiences[__${itemStart.index}__].start}"-->\n' +
                '                                <span class="form-text text-muted">Vui lòng nhập số tiền</span>\n' +
                '                            </div>\n' +
                '                            <div class="col-lg-2">\n' +
                '                                <label>Đợt thanh toán:</label>\n' +
                '                                <select class="form-control" name="" >\n' +
                '                                    <option value="">---Chọn đợt---</option>\n' +
                '                                    <option th:value="\'1\'" th:text="\'Đợt 1\'"></option>\n' +
                '                                    <option th:value="\'2\'" th:text="\'Đợt 2\'"></option>\n' +
                '                                    <option th:value="\'3\'" th:text="\'Đợt 3\'"></option>\n' +
                '                                    <option th:value="\'4\'" th:text="\'Đợt 4\'"></option>\n' +
                '                                    <option th:value="\'5\'" th:text="\'Đợt 5\'"></option>\n' +
                '                                </select>\n' +
                '                                <span class="form-text text-muted">Vui lòng chọn đợt</span>\n' +
                '                            </div>\n' +
                '                            <div class="col-lg-1">\n' +
                '                                <span class="btn btn-success la la-plus" onclick="addForm()"></span>\n' +
                '                                <button class="btn btn-danger la la-minus"onclick="removeProjectForm()"></button>\n' +
                '                            </div>\n' +
                '                            </div>\n' +
                '                        <div class="form-group row ml-1">\n' +
                '                            <div class="col-lg-11">\n' +
                '                                <label>Nội dung thanh toán:</label>\n' +
                '                                <span class="obligatory">*</span>\n' +
                '                                <textarea class="form-control" rows="5" placeholder="Mô tả khái quát" name="description"\n' +
                '                                ></textarea>\n' +
                '                                <!--                                th:field="*{experiences[__${itemStart.index}__].description}"-->\n' +
                '                                <span class="form-text text-muted">Vui lòng nhập nội dung</span>\n' +
                '                            </div>\n' +
                '                        </div>\n' +
                '\n' +
                '                        </div>\n';
            $('#project-list').append(project);
        }

        function emptyCombo(elm) {
            $(elm).empty();
        }
    </script>

    <script>
        function loadBranchByCustomer(customerId) {
            $.get([[@{
                '/common/branch/list/'
            }
        ]]
            + customerId, function (data) {
                emptyCombo($("#field_permBranch"));

                //console.log(jQuery.parseJSON(data));
                $("#field_permBranch").append('<option>----- Chọn chi nhánh -----</option>');
                data.forEach(function (item, i) {
                    var option = "<option value = " + item.id + ">" + item.name + "</option>";
                    $("#field_permBranch").append(option);
                });
            }
        )
            ;
        }
    </script>
</div>
</body>
</html>
