<!--Ninh Trang An-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/metronic-template}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet" th:if="${pr != null}">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Chi tiết danh mục
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form class="kt-form" th:action="@{'/admin/system/app-param/update/' + ${pr.id}}" method="POST">
            <div class="kt-portlet__body">
                <h3 class="kt-section__title">Thông tin chi tiết</h3>
                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                <div class="form-group row">
                    <div class="col-lg-3">
                        <label>Mã danh mục:</label>
                        <span class="form-text" th:text="${pr.code}"></span>
                    </div>
                    <div class="col-lg-3">
                        <label class="">Tên danh mục:</label>
                        <span class="form-text" th:text="${pr.name}"></span>
                    </div>
                    <div class="col-lg-3">
                        <label>Giá trị:</label>
                        <span class="form-text" th:text="${pr.value}"></span>
                    </div>
                    <div class="col-lg-3">
                        <label class="">Tên đầy đủ:</label>
                        <span class="form-text" th:text="${pr.fullname}"></span>
                    </div>
                </div>
                <div class="form-group row">
                <div class="col-lg-3">
                        <label>Nhóm danh mục:</label>
                        <span class="form-text" th:text="${pr.groupCode}"></span>
                    </div>
                    <div class="col-lg-3">
                        <label class="">Trạng thái:</label>
                        <span class="form-text" th:text="${pr.status}=='A'? 'Active' : 'Block'"></span>
                    </div>
                </div>
            </div>

            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <a  class="btn btn-secondary" th:href="@{'/admin/system/app-param/' + ${groupCode}} ">Cancel</a>
                </div>
            </div>
        </form>
        <!--end::Form-->
    </div>
</div>
</body>
</html>