<!--Ninh Trang An-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/metronic-template}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Chi tiết danh mục
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form class="kt-form"  th:action="@{/admin/system/app-param/save}" th:object="${param}" method="post" enctype="multipart/form-data">
            <div class="kt-portlet__body">
                <div class="kt-portlet__body">
                    <h3 class="kt-section__title">Thông tin chung</h3>
                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                    <div class="form-group row">
                <div class="col-lg-3">
                    <label>Mã danh mục:</label>
                    <span class="obligatory">*</span>
                    <input type="text" class="form-control" id="code"  name="code" placeholder="Mã danh mục" th:field="*{code}">
                    <div class="invalid-field" th:if="${#fields.hasErrors('code')}">Mã danh mục không hợp lệ</div>
                    <span class="invalid-field" th:text="${errorCode}"></span>
                    <span class="form-text text-muted">Vui lòng nhập mã danh mục</span>

                </div>
                        <div class="col-lg-3">
                            <label>Tên danh mục:</label>
                            <span class="obligatory">*</span>
                            <input type="text" class="form-control" name="name"  placeholder="Tên danh mục" th:field="*{name}">
                            <div class="invalid-field" th:if="${#fields.hasErrors('name')}">Tên danh mục không hợp lệ</div>
                            <span class="invalid-field" th:text="${errorName}"></span>
                            <span class="form-text text-muted">Vui lòng nhập tên danh mục</span>

                        </div>
                        <div class="col-lg-3">
                            <label>Giá trị:</label>
                            <span class="obligatory">*</span>
                            <input type="text" class="form-control" name="value"  placeholder="Giá trị" th:field="*{value}">
                            <div class="invalid-field" th:if="${#fields.hasErrors('value')}">Giá trị không hợp lệ</div>
                            <span class="form-text text-muted">Nhập giá trị</span>
                        </div>
                        <div class="col-lg-3">
                            <label>Tên đầy đủ:</label>
                            <span class="obligatory">*</span>
                            <input type="text" class="form-control" name="fullname"  placeholder="Tên đầy đủ" th:field="*{fullname}">
                            <div class="invalid-field" th:if="${#fields.hasErrors('fullname')}">Tên danh mục không hợp lệ</div>
                            <span class="form-text text-muted">Vui lòng điền đầy đủ tên danh mục</span>
                        </div>
                    </div>
                    <div class="form-group row">
                    <div class="col-lg-3">
                        <label>Trạng thái:</label>
                        <span class="obligatory">*</span>
                            <select class="form-control" id="field_status" name="status" th:field="*{status}">
                                <option value="">----Trạng thái----</option>
                                <option th:value="'A'" th:text="'Active'"></option>
                            </select>
                        <div class="invalid-field" th:if="${#fields.hasErrors('status')}">Trạng thái không được bỏ trống</div>
                        <span class="form-text text-muted">Vui lòng chọn trạng thái</span>
                </div>
                        <div class="col-lg-3">
                            <label>Nhóm danh mục:</label>
                            <select class="form-control" id="field_groupCode" name="groupCode" th:field="*{groupCode}">
                                <option th:value="'UNIT'" th:text="'Đơn vị - UNIT'"></option>
                                <option th:value="'EM_LEVEL'" th:text="'Vị trí - EM_LEVEL'"></option>
                                <option th:value="'EM_ROLE'" th:text="'Vai trò - EM_ROLE'"></option>
                                <option th:value="'EM_POSIT'" th:text="'Chức vụ - EM_POSIT'"></option>
                                <option th:value="'BRANCH'" th:text="'Chi nhánh - BRANCH'"></option>
                                <option th:value="'EM_CNT_TYP'" th:text="'Loại hợp đồng - EM_CNT_TYP'"></option>
                            </select>
                            <span class="form-text text-muted">Vui lòng chọn nhóm danh mục</span>
                        </div>
            </div>
                </div>
            </div>

            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <a  class="btn btn-secondary" th:href="@{'/admin/system/app-param/'+${groupCode}} ">Cancel</a>
                </div>
            </div>
        </form>

        <!--end::Form-->
    </div>

        <!--end::Form-->
    </div>

</div>
</body>
</html>
