<!--Ninh Trang An-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/metronic-template}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet" th:if="${province != null}">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Chi tiết tỉnh thành
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form class="kt-form" th:action="@{'/admin/system/province/update/' + ${province.id}}" method="POST">
            <div class="kt-portlet__body">
                <h3 class="kt-section__title">Thông tin chi tiết</h3>
                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                <div class="form-group row">
                    <div class="col-lg-3">
                        <label>Mã tỉnh thành:</label>
                        <span class="form-text" th:text="${province.id}"></span>
                    </div>
                    <div class="col-lg-3">
                        <label class="">Tên tỉnh thành:</label>
                        <span class="form-text" th:text="${province.name}"></span>
                    </div>
                    <div class="col-lg-3">
                        <label>Loại:</label>
                        <span class="form-text" th:text="${province.type}"></span>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <a  class="btn btn-secondary" th:href="@{'/admin/system/province/list'}">Cancel</a>
                </div>
            </div>
        </form>
        <!--end::Form-->
    </div>
</div>
</body>
</html>