<!--Ninh Trang An-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/metronic-template}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Chi tiết tỉnh thành
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form class="kt-form"  th:action="@{/admin/system/province/save}" th:object="${province}" id="myForm" method="post">
            <div class="kt-portlet__body">
                <h3 class="kt-section__title">Thông tin chi tiết</h3>
                <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                <div class="form-group row">
                    <div class="col-lg-3">
                        <label>Mã tỉnh thành:</label>
                        <input type="text" class="form-control" name="id" th:field="${province.id}">
                        <span class="form-text text-muted">Vui lòng nhập mã tỉnh thành</span>
                    </div>
                    <div class="col-lg-3">
                        <label class="">Tên tỉnh thành:</label>
                        <input type="text" class="form-control" name="name" th:field="${province.name}">
                        <span class="form-text text-muted">Vui lòng nhập tên tỉnh thành</span>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Loại:</label>
                            <select class="form-control" name="type" th:field="${province.type}">
                                <option value="">----- Chọn loại -----</option>
                                <option th:value="'Thành phố trung ương'" th:text="'Thành phố trung ương'"></option>
                                <option th:value="'Tỉnh'" th:text="'Tỉnh'"></option>
                            </select>
                            <span class="form-text text-muted">Vui lòng chọn loại tỉnh thành</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <a  class="btn btn-secondary" th:href="@{'/admin/system/province/list'}">Cancel</a>
                </div>
            </div>
        </form>
        <!--end::Form-->
    </div>
</div>
</body>
</html>