<!--Ninh Trang An-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/metronic-template}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="test.js"></script>
</head>
<body>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet" th:if="${biddoc != null}">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Chi tiết hồ sơ thầu
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form class="kt-form"  th:action="@{/'admin/biddoc/update'}" th:object="${biddoc.id}" method="post" enctype="multipart/form-data">
            <div class="kt-portlet__body">
                <div class="kt-portlet__body">
                    <h3 class="kt-section__title">Thông tin chung</h3>
                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label>Mã hồ sơ:</label>
                            <span class="form-text" th:text="${biddoc.code}"></span>

                        </div>
                        <div class="col-lg-3">
                            <label>Tên hồ sơ:</label>
                            <span class="form-text" th:text="${biddoc.name}"></span>
                        </div>
                        <!--                        <div class="col-lg-2">-->
                        <!--                            <label>Tên khách hàng:</label>-->
                        <!--                            <select class="form-control" onchange="loadBranchByCustomer(this.value)"-->
                        <!--                                    id="field_CustomerBranch" name="customerBrach"-->
                        <!--                                     th:field="*{customerId}">-->
                        <!--                                <option value="">&#45;&#45;&#45;&#45;Chọn&#45;&#45;&#45;&#45;</option>-->
                        <!--                                <option th:each="c : ${customerForm}" th:value="${c.id}" th:text="${c.name}"></option>-->
                        <!--                            </select>-->
                        <!--                            <div class="invalid-field" th:if="${#fields.hasErrors('customerId')}">Tên khách hàng không hợp lệ</div>-->
                        <!--                            <span class="form-text text-muted">Vui lòng chọn tên KH</span>-->
                        <!--                        </div>-->
                        <div class="col-lg-3">
                            <label>Tên khách hàng:</label>
                            <span class="form-text" th:text="${nameBranch}"></span>

                        </div>
                        <div class="col-lg-3">
                            <label>Trạng thái:</label>
                            <span class="form-text" th:text="${biddoc.status}==1?'Đã duyệt': 'Đang chờ'"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label>Ghi chú:</label>
<!--                            <span class="form-text" th:text="${biddoc.note}"></span>-->
                            <textarea class="form-control text-center" rows="5" name="note" disabled=""
                                      th:text="${biddoc.note}">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <a  class="btn btn-secondary" th:href="@{'/admin/biddoc/list'}">Cancel</a>
                </div>
            </div>
        </form>
        <!--end::Form-->

    </div>

</div>
</body>
</html>
