<!--Ninh Trang An-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/metronic-template}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="test.js"></script>
</head>
<body>
<div layout:fragment="content" class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Chi tiết hồ sơ thầu
                </h3>
            </div>
        </div>
        <!--begin::Form-->
        <form class="kt-form"  th:action="@{/admin/biddoc/save}" th:object="${biddoc}" method="post" enctype="multipart/form-data">
            <div class="kt-portlet__body">
                <div class="kt-portlet__body">
                    <h3 class="kt-section__title">Thông tin chung</h3>
                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
                    <div class="form-group row">
                        <div class="col-lg-3">
                            <label>Mã hồ sơ:</label>
                            <span class="obligatory">*</span>
                            <input type="text" class="form-control" id="code"  name="code" placeholder="Mã hồ sơ" th:field="*{code}">
                            <div class="invalid-field" th:if="${#fields.hasErrors('code')}">Mã hồ sơ không hợp lệ</div>
                            <span class="invalid-field" th:text="${errorCode}"></span>
                            <span class="form-text text-muted">Vui lòng nhập mã hồ sơ</span>

                        </div>
                        <div class="col-lg-3">
                            <label>Tên hồ sơ:</label>
                            <span class="obligatory">*</span>
                            <input type="text" class="form-control" name="name"  placeholder="Tên hồ sơ" th:field="*{name}">
                            <div class="invalid-field" th:if="${#fields.hasErrors('name')}">Tên hồ sơ không hợp lệ</div>
                            <span class="invalid-field" th:text="${errorName}"></span>
                            <span class="form-text text-muted">Vui lòng nhập tên hồ sơ</span>

                        </div>
<!--                        <div class="col-lg-2">-->
<!--                            <label>Tên khách hàng:</label>-->
<!--                            <select class="form-control" onchange="loadBranchByCustomer(this.value)"-->
<!--                                    id="field_CustomerBranch" name="customerBrach"-->
<!--                                     th:field="*{customerId}">-->
<!--                                <option value="">&#45;&#45;&#45;&#45;Chọn&#45;&#45;&#45;&#45;</option>-->
<!--                                <option th:each="c : ${customerForm}" th:value="${c.id}" th:text="${c.name}"></option>-->
<!--                            </select>-->
<!--                            <div class="invalid-field" th:if="${#fields.hasErrors('customerId')}">Tên khách hàng không hợp lệ</div>-->
<!--                            <span class="form-text text-muted">Vui lòng chọn tên KH</span>-->
<!--                        </div>-->
                        <div class="col-lg-3">
                            <label>Tên khách hàng:</label>
                            <select class="form-control" th:field="*{customerBranchId}">
                                <option value="">---Chọn---</option>
                                <option th:each="c : ${customerBranch}" th:value="${c.id}" th:text="${c.name}"></option>
                            </select>
                            <div class="invalid-field" th:if="${#fields.hasErrors('customerBranchId')}">Chi nhánh không hợp lệ</div>
                            <span class="form-text text-muted">Vui lòng chọn chi nhánh</span>
                        </div>
                        <div class="col-lg-3">
                            <label>Trạng thái:</label>
                            <select class="form-control" name="name" th:field="*{status}">
                                <option value="">---Trạng thái---</option>
                                <option th:value="'1'" th:text="'Đã duyệt'"></option>
                                <option th:value="'0'" th:text="'Chờ duyệt'"></option>
                            </select>
                            <div class="invalid-field" th:if="${#fields.hasErrors('status')}">Trạng thái không hợp lệ</div>
                            <span class="form-text text-muted">Vui lòng chọn trạng thái</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label>Ghi chú:</label>
                            <textarea class="form-control text-center" rows="5" placeholder="Ghi chú" name="note"
                                      th:field="*{note}"></textarea>
                            <span class="form-text text-muted">Vui lòng nhập nội dung cần ghi chú</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <a  class="btn btn-secondary" th:href="@{'/admin/biddoc/list'}">Cancel</a>
                </div>
            </div>
        </form>
        <!--end::Form-->

    </div>
    <script th:inline="javascript">
        function loadBranchByCustomer(customerId) {
            $.get([[@{
                '/common/branch/list/'
            }
        ]]
            + customerId, function (data) {
                emptyCombo($("#field_CustomerBranch"));

                console.log(jQuery.parseJSON(data));
                $("#field_CustomerBranch").append('<option>--Chi nhánh--</option>');
                data.forEach(function (item, i) {
                    var option = "<option value = " + item.id + ">" + item.name + "</option>";
                    $("#field_CustomerBranch").append(option);
                });
            }
        )
            ;
        }
        function emptyCombo(elm) {
            $(elm).empty();
        }
    </script>

</div>
</body>
</html>
